﻿body 
{
	
	 font-family: "Open Sans";
	 margin:0px; padding:0px;
}
a:link{ text-decoration:none !important}
 @font-face {
 font-family: "Open Sans";
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot');
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.svg#Open Sans') format('svg'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.woff') format('woff'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
.wrapper{background:url(../images/header-bg.jpg) left top repeat-x; float:left; width:100%; }

.container{ width:1113px; 
margin:auto; position:relative;
    top: 0px;
    left: 50px;
}

.logo-area {
  float: left;
  margin: 3px 0;
  padding: 20px 0 25px;
}
.left-slider{ width:602px; float:left;}
.search-area{ float:left; width:398px;}
.body-container{ margin:0px 0 0 0; clear:both; position:relative;min-height:450px;}
.search-bg{ background:#f9f9f9 url(../images/search-bg.jpg) left bottom repeat-x; width:358px; float:left; padding:30px 20px 10px;height:138px;}
.search-bg label{ font-size:18px; color:#636363; display:block; margin-bottom:10px;}
.search-bg input[type="text"]{ border:solid 1px #cccccc; padding:10px 6px; width:250px;}

#locationField, #controls {
        position: relative;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {

     
            top: 0px;
            left: 1px;
        }
 .button {
  display: inline-block;
  padding:10px ;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; }
  .button:hover {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 1px; }
  .button:hover {
    background-color: #2561d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#658fe4), to(#2561d7));
    background: -moz-linear-gradient(top, #658fe4, #2561d7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#658fe4', endColorstr='#2561d7'); }
  .button:active {
    background-color: #658fe4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3970dd), to(#658fe4));
    background: -moz-linear-gradient(top, #3970dd, #658fe4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3970dd', endColorstr='#658fe4');
    color: #c3d4f4; }
    
    .footer-container{ background:#dcdcdc url(../images/footer-bg.jpg) left bottom repeat-x; min-height:30px; float:left; width:100%;margin-top:20px; border-top:solid 1px #dcdcdc;}
    .lot-area{ width:99%; clear:both; padding:5px; position:relative;}
    .lotsearch-left{ width:28%; float:left;}
    .lot-listing{height:520px; overflow-y:auto; overflow-x:hidden;}
    .map{min-width:716px; height:520px}
    .map1{min-width:716px; height:384px}
    
    .timezone-table{ border:solid 1px #b5b5b5; border-bottom:none; border-left:none;border-collapse: collapse;}
.timezone-table th{ font-size:13px; border-left:solid 1px #b5b5b5; font-weight:bold; text-align:left; background:#c4e1ff; padding:7px 5px; color:#333333;}

.timezone-table td{ border-left:solid 1px #b5b5b5 !important;border-bottom:solid 1px #b5b5b5;}
.timezone-table td:first-child{ border-left:none;}

.form-table{ font-size:13px;}
.form-table td{ margin-bottom:10px; padding-bottom:10px;}
.form-table td input[type="text"]{ padding:8px; width:222px;}
.form-table td select{ padding:8px; width:222px;margin-left: 31px;}
.form-table td textarea{ padding:8px; width:222px; font-family:Arial;}


.refund-table{ font-size:13px;}
.refund-table td{ margin-bottom:10px; padding-bottom:10px;}
.refund-table td input[type="text"]{ padding:8px; width:152px;}
.refund-table td select{ padding:8px; width:240px; margin-left: 31px;}
.refund-table td textarea{ padding:8px; }



.form-table44{ font-size:13px;}
.form-table44 td{ margin-bottom:10px; padding-bottom:10px;}
.form-table44 td input[type="text"]{ padding:8px; width:222px;}
.form-table44 td select{ padding:8px; width:240px; }
.form-table44 td textarea{ padding:8px; }

.form-table1{ float:right}
.clearfix{clear:both}
.parking-price{height:470px; overflow-y:auto; overflow-x:hidden;}
.registration-area{ font-size:13px !important; width:100%;padding:10px; font-weight:normal !important }
.registration-area fieldset{border:solid 1px #ededed;}
.registration-area legend{ font-size:16px; font-weight:normal; color:#173866 !important;family:Arial;}
.btn-center{ display:block; text-align:center;}
.reg-form{ background:#F9F9F9; width:100%; border-top:solid 3px #ededed;}
.registration-area .Clicked{ text-decoration: none;
   border-radius:5px 5px 0 0;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; padding:8px 20px 7px;}
  
  .registration-area .Initial{text-decoration: none;
   border-radius:5px 5px 0 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #F9F9F9;
  color:#707070; padding:8px 20px; margin:0px;}
  @media print {
    a {
        display:none;
    }
 }


  .registration-area input[type="text"], input[type="password"]{ margin-bottom:10px; padding:6px 10px; width:180px;}
    .registration-area textarea{margin-bottom:10px;width:190px;}
     .registration-area select{margin-bottom:10px;width:200px;}
     .normaltext{font-size:13px; color:#707070; font-weight:normal;}
     
     .invoice-table{ border:solid 1px #c1d5e5; padding:3px; border-collapse:collapse; width:960px; margin-top:15px; font-family:Arial; font-size:13px; margin:auto;}
     .invoice-table th{ background:#1865a0; padding:5px 0;}
     .invoice-table td{ background:#eaf3fa; border-right:solid 1px #c1d5e5;}
     .invoice-heading{ font-size:18px; color:#fff; background:#d8e6f1; padding:5px; text-align:center;}
     .invoice-table td label{ font-weight:bold; font-size:13px;}
     
     .invoice-section{ width:100%}
     .invoice-section td{ border:none;}
     .invoice-section tr.white{ background:#fff;}
      .invoice-section tr.white td{ background:none;}
     .invoice-section tr.light-blue{ background:#f4faff}
      .invoice-section tr.light-blue td{ background:none;}
      
       .invoice-detail{ width:100%}
     .invoice-detail td{ border:none;}
     .invoice-detail tr.white{ background:#fff;}
      .invoice-detail tr.white td{ background:none;}
     .invoice-detail tr.light-blue{ background:#f4faff}
      .invoice-detail tr.light-blue td{ background:none;}
      
      .price{ border-top:dotted 1px #17659f;border-bottom:dotted 1px #17659f; color:#17659f; padding:5px 0; }
      
      
     .mail-table{ border:solid 1px #c1d5e5; padding:3px; border-collapse:collapse; width:1060px; height:300px; margin-top:15px; font-family:Arial; font-size:13px; margin:auto;}
     .mail-table th{ background:#1865a0; padding:5px 0;}
     .mail-table td{ background:#eaf3fa; border-right:solid 1px #c1d5e5;}
     .mail-heading{ font-size:18px; color:#fff; background:#d8e6f1; padding:5px; text-align:center;}
     .mail-table td label{ font-weight:bold; font-size:13px;}
     
     .mail-section{ width:100%}
     .mail-section td{ border:none;}
     .mail-section tr.white{ background:#fff;}
      .mail-section tr.white td{ background:none;}
     .mail-section tr.light-blue{ background:#f4faff}
      .mail-section tr.light-blue td{ background:none;}
      
       .mail-detail{ width:100%}
     .mail-detail td{ border:none;}
     .mail-detail tr.white{ background:#fff;}
      .mail-detail tr.white td{ background:none;}
     .mail-detail tr.light-blue{ background:#f4faff}
      .mail-detail tr.light-blue td{ background:none;}
      
      .lot-details{ border:solid 1px #ccc; border-collapse:collapse;}
      .lot-details th{ background:#173866; border:solid 1px #93c6fb; font-weight:normal; color:#fff; border-bottom:none; border-right:none; text-align:left; padding:5px 20px;}
      .lot-details td{ background:#deeeff;border:solid 1px #93c6fb; border-bottom:none;padding:5px 20px;} 
      
      h2{ font-family:Arial; font-weight:bold; font-size:16px; color:#012853; padding:0px; margin:0px;}
      fieldset{ border:solid 1px #dfefff; background:#f9fcff;}
      legend{ color:#173664; font-size:16px; font-family:Arial; font-weight:bold;}

       input:disabled{ background:#e9f4ff; border:solid 1px #b5daff; padding:8px 10px; border-radius:3px; }
.registration-area .Clicked{ text-decoration: none;
   border-radius:5px 5px 0 0;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; padding:8px 20px 7px;}
  
  .registration-area .Initial{text-decoration: none;
   border-radius:5px 5px 0 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #F9F9F9;
  color:#707070; padding:8px 20px; margin:0px;}
  
  .form-area{ margin:0px; padding:0px;}
.form-area td{ margin:0px; padding:0px;}
/*edit by kailash*/
.ajax__tab_tab{ height:auto !important;}
.twitterStyleTextbox {height:auto !important;}
.form-table td select{ margin:0px;}
table tr td{ position:relative;}
table tr td .validation{ position:absolute; top:40px;}