﻿.form-table01 { margin:0px; padding:0px; border-collapse:collapse;}
.form-table01 td{ position:relative; overflow:hidden; padding:10px 0; margin:0px;}
.form-table01 td .validation{ position:absolute; top:35px; left:0px; width:100%;}

.form-table01 td input{ border:solid 1px #bebebe; padding:6px 10px; border-radius:5px; width:250px;margin:0px; height:auto !important; font-size:12px;}
.form-table01 td textarea{ border:solid 1px #bebebe; padding:6px 10px; border-radius:5px; width:250px;margin:0px;height:auto !important; font-size:12px; font-family:Arial;}
.form-table01 td select{ border:solid 1px #bebebe; padding:6px 10px; border-radius:5px; width:272px; margin:0px;height:auto !important; font-size:12px;}
.form-table01 td input:disabled{ border:solid 1px #bebebe; padding:6px 10px; border-radius:5px; width:250px;margin:0px;}

.button-right 
{
    background:#3970dd;
  background: -moz-linear-gradient(center top , #7299e7, #3970dd) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #2c67db;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff !important;
  cursor: pointer;
  outline: medium none;
  padding:6px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-right:0px;
  line-height:18px;
}
fieldset{ margin:15px 0;}
.clearfix{ clear:both;}
