body {
	background:#f6f6f6;
	margin:0px;
	padding:0px;
	font-family: 'ProximaNovaRegular', arial;
}
img{ border:none;}
.header {
	background:#193764;
	padding-right:20px;
}
.logo {
	margin:0px;
	padding:0px;
	float:left;
	background:#f2f2f2;
	border-bottom:solid 1px #999999;
}
.sidebar {
	width:250px;
	background:#505050;
	float:left;
	min-height:250px;
}


.main-body {
	padding:0 20px 0 300px; background: url(../images/sidebar-bg.jpg) left top repeat-y;
}
h1 {
	font-family: 'ProximaNovaSemibold';
	margin:0px 0 0;
	padding:10px 0 5px 0;
	border-bottom:solid 4px #e0e0e0;
	color:#193764;
}
.top-link {
	margin:0px 0 0 40px;
	padding:0px;
	float:left;
}
.top-link a {
	font-family: 'ProximaNovaRegular';
	font-size:19px;
	color:#fff;
	text-decoration:none;
	padding:20px 10px 0;
	float:left;
	margin-top:8px;
}
.clearfix {
	clear:both;
}
.top-right{ float:right; margin:15px 0; padding:0px;font-family: 'ProximaNovaSemibold'; line-height:30px;}
.top-right a{ color:#fff; font-size:30px; padding:10px 10px; float:left} 

.user-area{ margin:0px; padding:0px;float:left;font-style:italic; font-size:13px; color:#fff; line-height:50px;}
.user-area span{ margin:0px;  font-size:18px; color:#fff;font-family: 'ProximaNovaSemibold'; font-style:normal; display:block; float:left;}
.user-area img{ width:50px; height:50px; border-radius:100px; float:left; margin-right:15px;}
#first{
width: 200px;
height: 200px;
border: 1px solid black;
}
.popup{ position:absolute; width:200px; background:#193764; border-radius:0 0 10px 10px; padding:10px; right:20px; top:80px }
.popup a{ color:#fff; font-size:18px;padding:5px 0 !important; margin:0px !important; font-style:normal; text-decoration:none; width:100%; line-height:25px !important;font-family: 'ProximaNovaRegular';}

.dropdown{ float:right;}


.green{ background:#44a334; margin-bottom:20px}
.green-strip{ background:#348c26;}

.purple{ background:#7c59c8; margin-bottom:20px}
.purple-strip{ background:#6543ad;}

.light-red{ background:#e1683f; margin-bottom:20px}
.light-red-strip{ background:#ce4d26;}

.orange{ background:#fdb22b; margin-bottom:20px}
.orange-strip{ background:#e19c21;}

.blue{ background:#22aed2; margin-bottom:20px}
.blue-strip{ background:#0f8dad;}

.red{ background:#dd5b7f; margin-bottom:20px}
.red-strip{ background:#c24366;}

.light-green{ background:#77b650; margin-bottom:20px}
.light-green-strip{ background:#589730;}

.grey{ background:#79818a; margin-bottom:20px}
.grey-strip{ background:#5d6876;}


.dash-box{ margin:20px 0 0; padding:0px;}
.dash-box li{ width:23.5%; float:left; margin:10px; min-width:332px; list-style:none;}
.dash-box .detail-area {
  color: #fff;
  float: left;
  font-family: 'ProximaNovaRegular';
  font-size: 15px;
  line-height: 45px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}
.dash-box .detail-area span{ font-size:36px; }
.icon-area {
  color: #fff;
  float: right;
  font-size: 60px;
  padding: 40px 20px 0 0;
  text-align: center;
}.bottom-strip{ padding:10px; color:#fff;}
.body-section{ width:46%; float:left; background:#fff; margin:10px; padding:10px;}
.body-section h2{font-family: 'ProximaNovaSemibold'; color:#7d7d7d; font-size:18px;}

.accordion01 {
	border-top: 1px solid #111;
	border-right: 1px solid #111;
	border-left: 1px solid #111;
}
.accordion01, .graphite .accordion01 li {
	margin: 0;
	padding: 0;
	border: none;
	list-style:none;
}
.accordion01 a {
	padding:15px 10px;
	text-decoration:none;
	display: block;
	color:#fff;
	border-bottom:1px solid #3a3939;
	position: relative;
	line-height:20px;
	font-size:16px;
}
.accordion01 li ul {
	margin:0px;
	padding:0px;
}
.accordion01 li ul li {
	list-style:none
}
.accordion01 li ul a {
	background: #666666;
	color:#fff;
	background-image:none;
}
.accordion01 li a i {
	float:left;
	font-size:18px;
	margin-right:5px;
}

.accordion01 li a .dcjq-icon {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(../images/arrow_black_right.png) no-repeat 0 center;
}
.accordion01 li a.dcjq-parent.active .dcjq-icon {
	background: url(../images/arrow_black_down.png) no-repeat 0 center;
}
.accordion01 li a.first {
	border-radius:10px 10px 0 0;
}
.accordion01 li a.last {
	border:none !important;
	border-radius:0 0 10px 10px;
}
.accordion01 a.dcjq-parent, .graphite .accordion01 a.dcjq-parent:hover {
	border-bottom: 1px solid #3a3939
}
.accordion01 a.dcjq-parent.active 
{
    background:#fff;
	color:#505050;
}
.accordion01 a:hover {
	background: #ececec;
	color: #696969;
}
.accordion01 a.active 
{
    	background:#fff;
	color:#505050;
}
/*edit by kailash*/

