body {
	background:#1a4d80;
	margin:0px;
	padding:0px;
	color:#696969;
	font-family: "Open Sans";
	font-size:14px;
	overflow:hidden;

}

fieldset{ font-size:13px; font-weight:normal; margin:10px; border:solid 1px #ccc}
fieldset legend{ font-size:14px; font-weight: bold;}

fieldset1{ font-size:13px; font-weight:normal; margin:10px; border:solid 1px #ccc}
fieldset1 legend{ font-size:14px; font-weight: bold;}
 @font-face {
 font-family: "Open Sans";
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot');
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.svg#Open Sans') format('svg'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.woff') format('woff'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
a:link {
	color:#696969;
}
a:visited {
	color:#696969;
}
a:hover {
	color:#2162a3;
}

.body-container {
	margin:0px;
	padding:0px 20px 0;

}
.body-left {
	margin:0px 0px 0px 0;
	padding:20px 0;
	background:#fbfbfb;
	border-radius:5px;
	width:300px;
	float:left;
 height:79vh;
	font-size:16px;
	overflow:auto;

}
.body-right {
	padding:20px;
	background:#fbfbfb;
	border-radius:5px;
	margin:0px 0 20px 305px;
     height:79vh;
    overflow:auto;
}
.accordion {
	border-top: 1px solid #111;
	border-right: 1px solid #111;
	border-left: 1px solid #111;
}
.accordion, .graphite .accordion li {
	margin: 0;
	padding: 0;
	border: none;
	list-style:none;
}
.accordion a {
	padding: 10px 10px 10px 20px;
	text-decoration:none;
	display: block;
	color:#696969;
	border-bottom: 1px solid #d7d6d1;
	position: relative;
}
.accordion li ul {
	margin:0px;
	padding:0px;
}
.accordion li ul li {
	list-style:none
}
.accordion li ul a {
	background: #f3f3f3;
	color:#696969;
	background-image:none;
}
.accordion li a i {
	float:right;
	font-size:20px;
}

.accordion li a .dcjq-icon {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(../images/arrow_black_right.png) no-repeat 0 center;
}
.accordion li a.dcjq-parent.active .dcjq-icon {
	background: url(../images/arrow_black_down.png) no-repeat 0 center;
}
.accordion li a.first {
	border-radius:10px 10px 0 0;
}
.accordion li a.last {
	border:none !important;
	border-radius:0 0 10px 10px;
}
.accordion a.dcjq-parent, .graphite .accordion a.dcjq-parent:hover {
	border-bottom: 1px solid #d7d6d1;
}
.accordion a.dcjq-parent.active {
}
.accordion a:hover {
	background: #ececec;
	color: #696969;
}
.accordion a:active {
}

h1{ font-size:25px; color:#4b739e; margin:0px 0 20px; padding:0px;}


.btn{ background:#1a4d80; font-size:18px; border-radius:5px; color:#fff; padding:5px 15px; width:auto !important; font-weight:normal; border:none; font-family: "Open Sans"; cursor:pointer;}
.btn:hover{ opacity:0.9;}

 @font-face {
 font-family: "Open Sans";
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot');
 src: url('../fonts/opensans-regular/52215577-OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.svg#Open Sans') format('svg'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.woff') format('woff'), url('../fonts/opensans-regular/52215577-OpenSans-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
a:link {
	color:#696969;
	text-decoration:none;
}
a:visited {
	color:#696969;
}
a:hover {
	color:#2162a3;
}
.header-container {
	background:url(../images/header-bg.jpg) left top repeat-x;
	padding:10px 20px 10px;
	*padding:10px 20px 15px;
	margin-bottom:5px;
}
.logo {
margin:0px; padding:0px;
width:200px;
float:left;
}
.logo img{ width:120px; height:55px;}

.nav-area {
margin:0px; padding:0px;
float:right;
}
.nav-area ul {
  margin: 40px 0 0 0px;
  *margin:22px 0 0 0px;
  padding: 0;
  *width:630px;
}
.nav-area ul li {
	margin:0px 0 0px 0;
	padding:0px;
	list-style:none;
	float:left;
}
.nav-area ul li a {
	margin:0px;
	padding:0px;
	background:#fff url(../images/menu-bg.jpg) left top repeat-x;
	border-radius:5px 5px 0 0;
	color:#696969;
	text-decoration:none;
	font-size:13px;
	font-weight:normal;
	margin:0 2px;
	padding:11px 13px 8px;
	border:solid 1px #d3d3d3;
	border-bottom:none;
	line-height:30px;

}
.nav-area ul li a:hover {
	background:#2162a4;
	color:#fff;
}
.nav-area ul li a i {
	margin-right:5px;
	*margin-right:0px;
	*width:5px;
}
.clearfix {
	clear:both;
}
.header-right {
	font-size:13px;
	float:right
}
.header-right a {
	margin-left:0px;
	text-decoration:none;
	font-family: "Open Sans";
}
.header-right a i {
	margin-left:5px;
}
.body-container {
	margin:0px;
	padding:0px 5px 0;

}


h1{ font-size:25px; color:#4b739e; margin:0px 0 20px; padding:0px 0 5px 0; border-bottom:solid 2px #c8c8c8;}

.form{ margin:0px; padding:0px; float:left; position:relative;}
.form label{ width:120px; float:left; font-size:14px; margin-top:5px;}
.form input[type="text"]{ border:solid 1px #bebebe; border-radius:3px; width:345px !important; padding:10px; margin-bottom:20px;}
.form select{ border:solid 1px #bebebe; border-radius:3px; width:368px; padding:10px; margin-bottom:20px;}
.form textarea{ border:solid 1px #bebebe; border-radius:3px; width:360px; height:100px;}
.btn{ background:#1a4d80; font-size:18px; border-radius:5px; color:#fff; padding:5px 15px; width:auto !important; font-weight:normal; border:none; font-family: "Open Sans"; cursor:pointer;}
.btn:hover{ opacity:0.9;}

.timezone-table td{ font-size:13px; word-wrap: break-word;white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal; font-weight:normal;} 

.timezone-table{ border:solid 1px #b5daff; border-bottom:none; border-left:none;border-collapse: collapse;}
.timezone-table th{ font-size:13px; border-left:solid 1px #b5daff; font-weight:bold; text-align:left; background: #c4e1ff; padding:7px 5px; color:#333333;}

.timezone-table td{ border-left:solid 1px #b5daff !important;border-bottom:solid 1px #b5daff;}
.timezone-table td:first-child{ border-left:none;}

.form-area{ margin:0px; padding:0px;}
.form-area label{ width:100px; float:left;}
.form-area input[type='text']{ width:222px; display:block; float:left;}


.form-table{ font-size:13px;}
.form-table td{ margin-bottom:10px; padding-bottom:10px;}
.form-table td input[type="text"], input[type="password"]{ border: 1px solid #c4c4c4;
font-size: 13px;
padding: 4px 4px 4px 4px;
border-radius: 4px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px #d9d9d9;
-moz-box-shadow: 0px 0px 8px #d9d9d9;
-webkit-box-shadow: 0px 0px 8px #d9d9d9;
padding: 8px 10px;width:222px;}
.form-table td select{ border: 1px solid #c4c4c4; font-family:Arial;
font-size: 13px;
padding: 4px 4px 4px 4px;
border-radius: 4px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px #d9d9d9;
-moz-box-shadow: 0px 0px 8px #d9d9d9;
-webkit-box-shadow: 0px 0px 8px #d9d9d9;
padding: 8px 10px; width:240px;}
.form-table td textarea{border: 1px solid #c4c4c4;font-family:Arial;
font-size: 13px;
padding: 4px 4px 4px 4px;
border-radius: 4px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px #d9d9d9;
-moz-box-shadow: 0px 0px 8px #d9d9d9;
-webkit-box-shadow: 0px 0px 8px #d9d9d9;
padding: 8px 10px; width:222px;}
.button {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #fff !important; }

  .button:hover {
    background-color: #2561d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#658fe4), to(#2561d7));
    background: -moz-linear-gradient(top, #658fe4, #2561d7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#658fe4', endColorstr='#2561d7'); }
 
    
   .add-module{ margin:0px; position:absolute; top:95px; right:20px;} 
  
  
  
  
.timezone1-table td{ font-size:13px; word-wrap: break-word;white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;} 

.timezone1-table{ border:solid 1px #b5b5b5; border-bottom:none; border-left:none;border-collapse: collapse; width:100%;}
.timezone1-table th{ font-size:13px; border-left:solid 1px #b5b5b5; font-weight:bold; text-align:left; background: #b5b5b5; padding:7px 5px; color:#fff;}

.timezone1-table td{ border-left:solid 1px #b5b5b5 !important;border-bottom:solid 1px #b5b5b5;}
.timezone1-table td:first-child{ border-left:none;}

.parker-table{ margin:0px; padding:0px;}
.parker-table table{ width:100%;}
.parker-table table th{ border:solid 1px #cccccc; background:#666666; color:#fff; padding:5px;}
.parker-table table td{ border:solid 1px #cccccc;padding:5px;}
.parker-table table td select, input[type="text"]{ width:120px ;}
.parket-table table td input.btn{ float:left !important; width:auto !important; padding:0 15px !important;}

.edit{ background:url(../images/icon-edit.jpg) left top no-repeat; width:16px; height:16px; display:block; border:none; text-indent:-300px; display:inline-block;}
.delete{background:url(../images/icon-delete.jpg) left top no-repeat; width:16px; height:16px; display:block;border:none; text-indent:-300px;display:inline-block;}
.update{ background:url(../images/icon-save.jpg) left top no-repeat; width:16px; height:16px; display:block; border:none; text-indent:-300px; display:inline-block;}
.add{background:url(../images/icon-add.jpg) left top no-repeat; width:16px; height:16px; display:block;border:none; text-indent:-300px;display:inline-block;}
.cancel{background:url(../images/icon-cancel.jpg) left top no-repeat; width:16px; height:16px; display:block;border:none; text-indent:-300px;display:inline-block;}

.btn {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #fff !important; }

  .btn:hover {
    background-color: #2561d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#658fe4), to(#2561d7));
    background: -moz-linear-gradient(top, #658fe4, #2561d7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#658fe4', endColorstr='#2561d7'); }
    
 .map-area{right:0px; width:100%; top:0px;}   
  .map-area label{ width:70px; float:left; margin-top:20px;}
  .map-area input[type='text']{margin-right:10px;margin-top:10px; width:80px !important; float:left; clear:inherit !important}
 .radio{ margin:0px 0 15px; float:left;}
 .radio label{ float:left;}
  .radio input{ float:left; margin-top:7px;}
  
  .panalclass{ border:solid 1px #dfefff; background:#f9fcff; width:900px;}
    fieldset{ border:solid 1px #dfefff; background:#f9fcff;}
      legend{ color:#173664; font-size:16px; font-family:Arial; font-weight:bold;}
      input:disabled{ background:#e9f4ff; border:solid 1px #b5daff; padding:8px 10px; }
      
      .twitterStyleTextbox {
border: 1px solid #c4c4c4;
font-size: 13px;
padding: 4px 4px 4px 4px;
border-radius: 4px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px #d9d9d9;
-moz-box-shadow: 0px 0px 8px #d9d9d9;
-webkit-box-shadow: 0p
    fieldset{ border:solid 1px #dfefff; background:#f9fcff;
    width: 325px;
}
      us {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.Clicked{ text-decoration: none;
   border-radius:5px 5px 0 0;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; padding:8px 20px 7px;}
  
  .clicked{ text-decoration: none;
   border-radius:5px 5px 0 0;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; padding:8px 20px 7px;}
  
.Initial{text-decoration: none;
   border-radius:5px 5px 0 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #F9F9F9;
  color:#707070; padding:8px 20px; margin:0px;}

    

   