﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Add_Details_Of_Corporate_Parker.aspx.cs" Inherits="Admin_Add_Details_Of_Corporate_Parker" %>

<%@ Register src="WUC/wuc_add_details_of_corporate_parker.ascx" tagname="wuc_add_details_of_corporate_parker" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_add_details_of_corporate_parker ID="wuc_add_details_of_corporate_parker1" 
            runat="server" />
    
    </div>
    </form>
</body>
</html>
