﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddIndividua_vehicleparker.aspx.cs" Inherits="AddIndividua_vehicleparker" %>

<%@ Register src="WUC/wuc_AddVehicle_parker.ascx" tagname="wuc_AddVehicle_parker" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_AddVehicle_parker ID="wuc_AddVehicle_parker1" runat="server" />
    
    </div>
    </form>
</body>
</html>
