﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddNewAccount_ForCardManager.aspx.cs" Inherits="AddNewAccount_ForCardManager" %>

<%@ Register src="WUC/wuc_AddNewAccount_ForCardManager.ascx" tagname="wuc_AddNewAccount_ForCardManager" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
  
    <div>
    
        <uc1:wuc_AddNewAccount_ForCardManager ID="wuc_AddNewAccount_ForCardManager1" 
            runat="server" />
    
    </div>
    </form>
</body>
</html>
