﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_DetailsOfDueAmount.aspx.cs" Inherits="Admin_DetailsOfDueAmount" %>

<%@ Register src="WUC/wuc_detailsofduepayment.ascx" tagname="wuc_detailsofduepayment" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right">
 
      
 
       <uc1:wuc_detailsofduepayment ID="wuc_detailsofduepayment1" runat="server" />
 
      
 
       </div>
</asp:Content>

