﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditUploadTermsAndContionForSite.aspx.cs" Inherits="Admin_EditUploadTermsAndContionForSite" %>

<%@ Register src="WUC/wuc_EditUploadTermsAndConditionForSite.ascx" tagname="wuc_EditUploadTermsAndConditionForSite" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Upload Site Documents</h1>
     <p>&nbsp;</p>
 
       <uc1:wuc_EditUploadTermsAndConditionForSite ID="wuc_EditUploadTermsAndConditionForSite1" 
         runat="server" />
 
       </div>
</asp:Content>

