﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_SearchParker.aspx.cs" Inherits="Admin_SearchParker" %>

<%@ Register src="WUC/Wuc_SearchParker.ascx" tagname="Wuc_SearchParker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Search Parker</h1>
    
 
       <uc1:Wuc_SearchParker ID="Wuc_SearchParker1" runat="server" />
    
 
       </div>
</asp:Content>

