﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_LotMaster.aspx.cs" Inherits="Admin_LotMaster" %>



<%@ Register src="WUC/wuc_lotmanager.ascx" tagname="wuc_lotmanager" tagprefix="uc2" %>

<%--<%@ Register src="WUC/wuc_lotmanager.ascx" tagname="wuc_lotmanager" tagprefix="uc1" %>--%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <link href="style/main.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/main.js"></script>


    <div class="body-right"><h1>Lots</h1>
    
        <uc2:wuc_lotmanager ID="wuc_lotmanager1" runat="server" />

 
  </div>
</asp:Content>

