﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_ParkerDetails.aspx.cs" Inherits="Admin_ParkerDetails" %>

<%@ Register src="WUC/wuc_ParkerDetails.ascx" tagname="wuc_ParkerDetails" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Parker Details</h1>
 
       <uc1:wuc_ParkerDetails ID="wuc_ParkerDetails1" runat="server" />
 
       </div>
</asp:Content>

