﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_LotManger.aspx.cs" Inherits="Admin_LotManger" %>

<%@ Register src="WUC/wuc_lotShow.ascx" tagname="wuc_lotShow" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<link href="stylesheet/main.css" rel="stylesheet" type="text/css" />
<div class="body-right"><h1>Lot Management
      </h1>
    <p>&nbsp;</p>

      <uc1:wuc_lotShow ID="wuc_lotShow1" runat="server" />

      </div>
</asp:Content>

