﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_VehicleModel.aspx.cs" Inherits="Admin_VehicleModel" %>

<%@ Register src="WUC/wuc_VehicleModel.ascx" tagname="wuc_VehicleModel" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Vehicle Model</h1>
 
       <uc1:wuc_VehicleModel ID="wuc_VehicleModel1" runat="server" />
 
       </div>
</asp:Content>

