﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_CampusMaster.aspx.cs" Inherits="Admin_CampusMaster" %>

<%@ Register src="WUC/wuc_Campus.ascx" tagname="wuc_Campus" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Campus</h1>

 
    <link href="style/main.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    

    <script src="js/CampusAdd.js" type="text/javascript"></script>
 
       <uc1:wuc_Campus ID="wuc_Campus1" runat="server" />
    <br />

 
    

 
       </div>
</asp:Content>

