﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_Operator_Search.aspx.cs" Inherits="Admin_Operator_Search" %>

<%@ Register src="WUC/wuc_Search_Operator.ascx" tagname="wuc_Search_Operator" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Search Operator</h1>
 
        <uc1:wuc_Search_Operator ID="wuc_Search_Operator1" runat="server" />
 
       </div>
</asp:Content>

