﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_AgreementType.aspx.cs" Inherits="Admin_AgreementType" %>

<%@ Register src="WUC/wuc_AgreementType.ascx" tagname="wuc_AgreementType" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Agreement Type</h1>

 
       <uc1:wuc_AgreementType ID="wuc_AgreementType1" runat="server" />

 
       </div>
</asp:Content>

