﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditChargebyMaster.aspx.cs" Inherits="Admin_EditChargebyMaster" %>

<%@ Register src="WUC/wuc_editchargebymaster.ascx" tagname="wuc_editchargebymaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Edit Charge By</h1>
 
        <uc1:wuc_editchargebymaster ID="wuc_editchargebymaster1" runat="server" />
 
       </div>
</asp:Content>

