﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Admin_LotSearchMaster.aspx.cs" Inherits="Admin_LotSearchMaster" %>

<%@ Register src="WUC/wuc_LotSearch.ascx" tagname="wuc_LotSearch" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
   

   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
      <script type="text/javascript" src="js/script.js"> </script>
</head>
<body>


    <form id="form1" runat="server">


    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <uc1:wuc_LotSearch ID="wuc_LotSearch1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
