﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditUserPermissionMaster.aspx.cs" Inherits="Admin_EditUserPermissionMaster" %>

<%@ Register src="WUC/EditUserManager.ascx" tagname="EditUserManager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit User Permission</h1><uc1:EditUserManager 
         ID="EditUserManager1" runat="server" />
     
 
       </div>
</asp:Content>

