﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_SiteAgreementMaster.aspx.cs" Inherits="Admin_SiteAgreementMaster" %>

<%@ Register src="WUC/wuc_SiteManger.ascx" tagname="wuc_SiteManger" tagprefix="uc1" %>

<%@ Register src="WUC/wuc_SiteAgreementaManeger.ascx" tagname="wuc_SiteAgreementaManeger" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Site Agreement</h1>
 
  
 
        <uc2:wuc_SiteAgreementaManeger ID="wuc_SiteAgreementaManeger1" runat="server" />
 
  
 
  </div>
</asp:Content>

