﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_VehiclePlanMaster.aspx.cs" Inherits="Admin_VehiclePlanMaster" %>

<%@ Register src="WUC/wuc_planmaster.ascx" tagname="wuc_planmaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div class="body-right"><h1>Vehicle Plans</h1>
 

       <uc1:wuc_planmaster ID="wuc_planmaster1" runat="server" />
 

       </div>
</asp:Content>

