﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_CoupanMaster.aspx.cs" Inherits="Admin_CoupanMaster" %>

<%@ Register src="WUC/Wuc_CoupanMaster.ascx" tagname="Wuc_CoupanMaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Coupon Master</h1>
    <p>
        <uc1:Wuc_CoupanMaster ID="Wuc_CoupanMaster1" runat="server" />
    </p>
 
     
 
  </div>
</asp:Content>

