﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_VehicleMakeModelMaster.aspx.cs" Inherits="Admin_VehicleMakeModelMaster" %>

<%@ Register src="WUC/wuc_vehicleMak_Model.ascx" tagname="wuc_vehicleMak_Model" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Vehicle Make</h1> 
 <div class="add-module"><asp:LinkButton ID="link_model" runat="server"  CssClass="button" onclick="link_model_Click">Add Vehicle Model</asp:LinkButton></div>
 
 
       <uc1:wuc_vehicleMak_Model ID="wuc_vehicleMak_Model1" runat="server" />
 
       </div>
</asp:Content>

