﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_Edit_Corporate_Parker.aspx.cs" Inherits="Admin_Edit_Corporate_Parker" %>

<%@ Register src="WUC/wuc_edit_corporate_parker.ascx" tagname="wuc_edit_corporate_parker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Edit Corporate Parker       </h1>
        <uc1:wuc_edit_corporate_parker ID="wuc_edit_corporate_parker1" runat="server" />
  
   

        
        
 
     
    
 
  </div>
</asp:Content>

