﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_UploadLotTerms.aspx.cs" Inherits="Admin_UploadLotTerms" %>

<%@ Register src="WUC/wuc_UploadTermsForLot.ascx" tagname="wuc_UploadTermsForLot" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Upload Lot Documents</h1>
    <p>
        <uc1:wuc_UploadTermsForLot ID="wuc_UploadTermsForLot1" runat="server" />
    </p>
 
       
      
 
       </div>
</asp:Content>

