﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditCoupanMaster.aspx.cs" Inherits="Admin_EditCoupanMaster" %>

<%@ Register src="WUC/wuc_editcoupan.ascx" tagname="wuc_editcoupan" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Coupan</h1>
 
    
 
     <uc1:wuc_editcoupan ID="wuc_editcoupan1" runat="server" />
 
    
 
  </div>
</asp:Content>

