﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditVehicleColor.aspx.cs" Inherits="Admin_EditVehicleColor" %>

<%@ Register src="WUC/wuc_EditVehicleColor.ascx" tagname="wuc_EditVehicleColor" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Vehicle Color</h1>
 
       <uc1:wuc_EditVehicleColor ID="wuc_EditVehicleColor1" runat="server" />
 
       </div>
</asp:Content>

