﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditSiteTypeMaster.aspx.cs" Inherits="Admin_EditSiteTypeMaster" %>

<%@ Register src="WUC/wuc_edit_sitetypemaster.ascx" tagname="wuc_edit_sitetypemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Customer Type</h1>
 
       <uc1:wuc_edit_sitetypemaster ID="wuc_edit_sitetypemaster1" runat="server" />
 
       </div>
</asp:Content>

