﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_Parker_Registration_Log.aspx.cs" Inherits="Show_Graph" %>







<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div class="body-right">
         <div>
        <asp:Literal ID="lt" runat="server"></asp:Literal>
    </div>
   
    <div id="chart_div"></div>    
 
    
  </div>
</asp:Content>

