﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_LotToPlanAllotMaster.aspx.cs" Inherits="Admin_LotToPlanAllotMaster" %>

<%@ Register src="WUC/wuc_LotToPlanAllot.ascx" tagname="wuc_LotToPlanAllot" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Lot To Plan Allotment</h1>
 
     <uc1:wuc_LotToPlanAllot ID="wuc_LotToPlanAllot1" runat="server" />
 
  </div>
</asp:Content>

