﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditCategoryMaster.aspx.cs" Inherits="Admin_EditCategoryMaster" %>

<%@ Register src="WUC/wuc_EditCategory.ascx" tagname="wuc_EditCategory" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Category</h1>
 
     <uc1:wuc_EditCategory ID="wuc_EditCategory1" runat="server" />
 
  </div>
</asp:Content>

