﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_LoginMaster.aspx.cs" Inherits="Admin_LoginMaster" %>

<%@ Register src="WUC/wuc_login.ascx" tagname="wuc_login" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right">
 
       <uc1:wuc_login ID="wuc_login1" runat="server" />
 
       </div>
</asp:Content>

