﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditLotMaster.aspx.cs" Inherits="Admin_EditLotMaster" %>



<%@ Register src="WUC/wuc_EditLotMaster.ascx" tagname="wuc_EditLotMaster" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>
    <script src="editlot.js" type="text/javascript"></script>
   
    <div class="body-right"><h1>Edit Lot  
        
        </h1>
        
          
   

       <uc2:wuc_EditLotMaster ID="wuc_EditLotMaster1" runat="server" />
          
   

       </div>


</asp:Content>

