﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditVehicleMakeMaster.aspx.cs" Inherits="Master_EditMakeMaster" %>

<%@ Register src="WUC/wuc_EditMakeVehicle.ascx" tagname="wuc_EditMakeVehicle" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Vehicle Make</h1>
 
       <uc1:wuc_EditMakeVehicle ID="wuc_EditMakeVehicle1" runat="server" />
 
       </div>
</asp:Content>

