﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_TimeZoneMaster.aspx.cs" Inherits="Admin_TimeZoneMaster" %>

<%@ Register src="WUC/wuc_Timezonemanager.ascx" tagname="wuc_Timezonemanager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div class="body-right"><h1>Time Zone</h1>
 
       <uc1:wuc_Timezonemanager ID="wuc_Timezonemanager1" runat="server" />
 
       </div>
</asp:Content>

