﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditAgreementType.aspx.cs" Inherits="Admin_EditAgreementType" %>

<%@ Register src="WUC/wuc_edit_agreementtype.ascx" tagname="wuc_edit_agreementtype" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Agreement Type</h1>
    <uc1:wuc_edit_agreementtype ID="wuc_edit_agreementtype1" runat="server" />
    
 
       
 
       </div>
</asp:Content>

