﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditState.aspx.cs" Inherits="Admin_EditState" %>

<%@ Register src="WUC/wuc_edit_statemaster.ascx" tagname="wuc_edit_statemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Province
 </h1>
 
     <uc1:wuc_edit_statemaster ID="wuc_edit_statemaster1" runat="server" />
 
  </div>
</asp:Content>

