﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_DetailsOfDueAmount_Corporate.aspx.cs" Inherits="Admin_DetailsOfDueAmount_Corporate" %>

<%@ Register src="WUC/wuc_Detailofbill.ascx" tagname="wuc_Detailofbill" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right">
 
      
 
      
 
      
 
       <uc1:wuc_Detailofbill ID="wuc_Detailofbill1" runat="server" />
 
      
 
      
 
      
 
       </div>
</asp:Content>

