﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_ChangePasswordMaster.aspx.cs" Inherits="Admin_ChangePasswordMaster" %>

<%@ Register src="WUC/wuc_change_password.ascx" tagname="wuc_change_password" tagprefix="uc1" %>

<%@ Register src="WUC/wuc_Dashboard.ascx" tagname="wuc_Dashboard" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Change Paasword</h1>
       
 
 
    
 
        <uc1:wuc_change_password ID="wuc_change_password1" runat="server" />
       
 
 
    
 
       </div>
</asp:Content>

