﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_UserPermissionMaster.aspx.cs" Inherits="Admin_UserPermissionMaster" %>

<%@ Register src="WUC/UserManager.ascx" tagname="UserManager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Add New Operator  </h1><uc1:UserManager 
         ID="UserManager1" runat="server" />
   

 
       </div>
</asp:Content>

