﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditCityMaster.aspx.cs" Inherits="Admin_EditCityMaster" %>

<%@ Register src="WUC/wuc_edit_city.ascx" tagname="wuc_edit_city" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div class="body-right"><h1>Edit City</h1>
  <uc1:wuc_edit_city ID="wuc_edit_city1" 
          runat="server" />
      
 
       </div>
</asp:Content>

