﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_Search_RefundableByParker.aspx.cs" Inherits="Admin_Search_RefundableByParker" %>

<%@ Register src="WUC/wuc_search_refund.ascx" tagname="wuc_search_refund" tagprefix="uc1" %>
 
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div class="body-right"><h1>Refund Details</h1>
 
       <uc1:wuc_search_refund ID="wuc_search_refund1" runat="server" />
 
       </div>
</asp:Content>

