﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditVehicleModel.aspx.cs" Inherits="Admin_EditVehicleModel" %>

<%@ Register src="WUC/wuc_EditModelVehicle.ascx" tagname="wuc_EditModelVehicle" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Vehicle Model</h1>
 
       <uc1:wuc_EditModelVehicle ID="wuc_EditModelVehicle1" runat="server" />
 
       </div>
</asp:Content>

