﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_uploadSiteAgreementDocument.aspx.cs" Inherits="Admin_uploadSiteAgreementDocument" %>

<%@ Register src="WUC/wuc_UploadTermsAndConditionForSite.ascx" tagname="wuc_UploadTermsAndConditionForSite" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Upload Site Documents</h1>
    <p>&nbsp;</p>
 
       <uc1:wuc_UploadTermsAndConditionForSite ID="wuc_UploadTermsAndConditionForSite1" 
        runat="server" />
 
       </div>
</asp:Content>

