﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_StateMaster.aspx.cs" Inherits="Admin_StateMaster" %>

<%@ Register src="WUC/wuc_statemaster.ascx" tagname="wuc_statemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Province Master</h1>
    
    <uc1:wuc_statemaster ID="wuc_statemaster1" runat="server" />
    
  </div>
</asp:Content>

