﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="AdminEditLotMaster.aspx.cs" Inherits="AdminEditLotMaster" %>


<%@ Register src="WUC/wuc_EditLotMaster.ascx" tagname="wuc_EditLotMaster" tagprefix="uc1" %>


<%--<%@ Register src="WUC/wuc_Edit_LotMaster.ascx" tagname="wuc_Edit_LotMaster" tagprefix="uc1" %>
--%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<link href="style/main.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/editsite.js"></script>
    <div class="body-right"><h1>Edit Lot   
        
        </h1>
        <p>&nbsp;</p>
        
          
   
   
          
   

        <uc1:wuc_EditLotMaster ID="wuc_EditLotMaster1" runat="server" />
        
          
   
   
          
   

       <%-- <uc1:wuc_Edit_LotMaster ID="wuc_Edit_LotMaster1" runat="server" />
        --%>
          
   
   
          
   

       </div>
</asp:Content>

