﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditExtraChargeMaster.aspx.cs" Inherits="Admin_EditExtraChargeMaster" %>

<%@ Register src="WUC/Wuc_editextracharges.ascx" tagname="Wuc_editextracharges" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>ExtraChargeMaster</h1>
    <p>
        <uc1:Wuc_editextracharges ID="Wuc_editextracharges1" runat="server" />
    </p>
    <p>
        
    </p>
    
 </div>
</asp:Content>

