﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditPlanMaster.aspx.cs" Inherits="Admin_EditPlanMaster" %>

<%@ Register src="WUC/wuc_edit_plan_master.ascx" tagname="wuc_edit_plan_master" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Plan Manager</h1>
 
       
 
       <uc1:wuc_edit_plan_master ID="wuc_edit_plan_master1" runat="server" />
 
       
 
       </div>
</asp:Content>

