﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditVehicleTypeMaster.aspx.cs" Inherits="Admin_EditVehicleTypeMaster" %>

<%@ Register src="WUC/wuc_EditVehicle_Type.ascx" tagname="wuc_EditVehicle_Type" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Vehicle Type  </h1>
 <uc1:wuc_EditVehicle_Type 
         ID="wuc_EditVehicle_Type1" runat="server" />
   
       </div>
</asp:Content>

