﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_SiteType.aspx.cs" Inherits="Admin_SiteType" %>

<%@ Register src="WUC/wuc_SiteTypeManager.ascx" tagname="wuc_SiteTypeManager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Customer Type</h1>
 
       <uc1:wuc_SiteTypeManager ID="wuc_SiteTypeManager1" runat="server" />
 
       </div>
</asp:Content>

