﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_ExtraChargeMaster.aspx.cs" Inherits="Admin_ExtraChargeMaster" %>

<%@ Register src="WUC/Wuc_extrachargemaster.ascx" tagname="Wuc_extrachargemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>ExtraChargeMaster</h1>
    <p>
        <uc1:Wuc_extrachargemaster ID="Wuc_extrachargemaster1" runat="server" />
    </p>
    
 </div>
</asp:Content>

