﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_EditSiteMaster.aspx.cs" Inherits="Admin_EditSiteMaster" %>



<%@ Register src="WUC/wuc_editsite.ascx" tagname="wuc_editsite" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<link href="style/main.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/editsite.js"></script>
    <div class="body-right"><h1>Edit Customer   
        
        </h1>
        
          
   

        <uc2:wuc_editsite ID="wuc_editsite1" runat="server" />
        
          
   

       </div>
</asp:Content>

