﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Assign_tarifftosite.aspx.cs" Inherits="Assign_tarifftosite" %>

<%@ Register src="WUC/wuc_assign_tariff_to_site.ascx" tagname="wuc_assign_tariff_to_site" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_assign_tariff_to_site ID="wuc_assign_tariff_to_site1" runat="server" />
    
    </div>
    </form>
</body>
</html>
