﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Backoffice_Payment.aspx.cs" Inherits="Backoffice_Payment" %>

<%@ Register src="WUC/wuc_backoffice.ascx" tagname="wuc_backoffice" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Back Office</h1>
 

 
     
     
 

 
     
     

 
     
     
 

 
     
       <uc1:wuc_backoffice ID="wuc_backoffice1" runat="server" />
 

 
     
     
 

 
     
     

 
     
     
 

 
     
       </div>
</asp:Content>

