﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CashAccountForParker.aspx.cs" Inherits="CashAccountForParker" %>

<%@ Register src="WUC/wuc_CashAccountSearchingForParkers.ascx" tagname="wuc_CashAccountSearchingForParkers" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
    <div class="body-right"><h1>Cash Account</h1>
 
 
     
        <uc1:wuc_CashAccountSearchingForParkers ID="wuc_CashAccountSearchingForParkers1" 
            runat="server" />
 
 
     
       </div>
</asp:Content>

