﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CashDetailsOfCorporate.aspx.cs" Inherits="CashDetailsOfCorporate" %>

<%@ Register src="WUC/CashCounterForCorporate.ascx" tagname="CashCounterForCorporate" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="body-right"><h1>&nbsp;</h1>
 
 
     
       
 
     
        <uc1:CashCounterForCorporate ID="CashCounterForCorporate1" runat="server" />
 
 
     
       
 
     
       </div>
</asp:Content>

