﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CashDetailsOfParker.aspx.cs" Inherits="CashDetailsOfParker" %>

<%@ Register src="WUC/wuc_CashDetailsOfParker.ascx" tagname="wuc_CashDetailsOfParker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
 <div class="body-right"><h1>&nbsp;</h1>
 
     
       <uc1:wuc_CashDetailsOfParker ID="wuc_CashDetailsOfParker1" runat="server" />
 
     
       </div>
</asp:Content>

