﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CashAccountForCorporate.aspx.cs" Inherits="CashAccountForCorporate" %>

<%@ Register src="WUC/CorporateCashAccountSearch.ascx" tagname="CorporateCashAccountSearch" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
    <div class="body-right"><h1>Cash Account</h1>
 
 
     
        
 
     
        <uc1:CorporateCashAccountSearch ID="CorporateCashAccountSearch1" 
            runat="server" />
 
 
     
        
 
     
       </div>
</asp:Content>

