﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Corporate_plan.aspx.cs" Inherits="Corporate_plan" %>

<%@ Register src="WUC/wuc_corporate_plan.ascx" tagname="wuc_corporate_plan" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:wuc_corporate_plan ID="wuc_corporate_plan1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
