﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CorporateParkerBilligInfo.aspx.cs" Inherits="CorporateParkerBilligInfo" %>

<%@ Register src="WUC/wuc_billingInfo.ascx" tagname="wuc_billingInfo" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right">



    



    <uc1:wuc_billingInfo ID="wuc_billingInfo1" runat="server" />



    



</div>
</asp:Content>

