﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AllParkersMaster.master" AutoEventWireup="true" CodeFile="CorporateParkersAdd.aspx.cs" Inherits="CorporateParkersAdd" %>

<%@ Register src="WUC/wuc_parkersAddbyCorporate.ascx" tagname="wuc_parkersAddbyCorporate" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="row dash-box">
<form id="form1" runat="server">
    <uc1:wuc_parkersAddbyCorporate ID="wuc_parkersAddbyCorporate1" runat="server" />
    </form>
    </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
     <img src="images/message.jpg" width="503" height="257" />
</asp:Content>

