﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Country.aspx.cs" Inherits="Country" %>

<%@ Register src="WUC/wuc_country.ascx" tagname="wuc_country" tagprefix="uc1" %>

<%--<%@ Register src="WUC/wuc_edit_country.ascx" tagname="wuc_edit_country" tagprefix="uc2" %>--%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="style/style.css" rel="stylesheet" type="text/css" media="all" />
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<script type="text/javascript" src="js/script.js"></script>
<style type="text/css">
#Panel1{
    position: absolute;
    left: 100px;
    top: 150px;
   
}
</style>

</head>
<body>
    <form id="form1" runat="server">
   
    	
    
   
    	
    <uc1:wuc_country ID="wuc_country" runat="server" />
    
   
          <%--  <asp:Panel ID="Panel1"  runat="server" Visible="False" 
        HorizontalAlign="Left" BackColor="#6699FF">
           
    <uc2:wuc_edit_country ID="wuc_edit_country1" runat="server" />
     </asp:Panel>--%>
     

    </form>
</body>
</html>
