﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EditPlanMaster.aspx.cs" Inherits="EditPlanMaster" %>

<%@ Register src="WUC/wuc_edit_plan_master.ascx" tagname="wuc_edit_plan_master" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_edit_plan_master ID="wuc_edit_plan_master1" runat="server" />
    
    </div>
    </form>
</body>
</html>
