﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EditMakeVehicle.aspx.cs" Inherits="EditMakeVehicle" %>

<%@ Register src="WUC/wuc_EditMakeVehicle.ascx" tagname="wuc_EditMakeVehicle" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:wuc_EditMakeVehicle ID="wuc_EditMakeVehicle1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
