﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Edit_MakeModelMaster.aspx.cs" Inherits="Edit_MakeModelMaster" %>

<%@ Register src="WUC/wuc_EditMakeVehicle.ascx" tagname="wuc_EditMakeVehicle" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Edit Model</h1>
 
       <uc1:wuc_EditMakeVehicle ID="wuc_EditMakeVehicle1" runat="server" />
 
       </div>
</asp:Content>

