﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AllParkersMaster.master" AutoEventWireup="true" CodeFile="EditProfile.aspx.cs" Inherits="EditProfile" %>

<%@ Register src="WUC/wuc_edit_corporate_parker.ascx" tagname="wuc_edit_corporate_parker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right">
    <form id="form1" runat="server">
    <uc1:wuc_edit_corporate_parker ID="wuc_edit_corporate_parker1" runat="server" />
    </form>
    </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

