﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EditCountry.aspx.cs" Inherits="EditCountry" %>



<%@ Register src="WUC/wuc_edit_country.ascx" tagname="wuc_edit_country" tagprefix="uc1" %>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
       
        <uc1:wuc_edit_country ID="wuc_edit_country1" runat="server" />
    
       
    </div>
    </form>
</body>
</html>
