﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EditDetailsOfEmploy.aspx.cs" Inherits="EditDetailsOfEmploy" %>

<%@ Register src="WUC/wuc_Edit_detail_of_corporate_employee.ascx" tagname="wuc_Edit_detail_of_corporate_employee" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="WUC/CSS.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
          
        <uc1:wuc_Edit_detail_of_corporate_employee ID="wuc_Edit_detail_of_corporate_employee1" 
            runat="server" />
          
    </div>
    </form>
</body>
</html>
