﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EditVehicle_Type.aspx.cs" Inherits="EditVehicle" %>

<%@ Register src="WUC/wuc_EditVehicle_Type.ascx" tagname="wuc_EditVehicle_Type" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_EditVehicle_Type ID="wuc_EditVehicle_Type1" runat="server" />
    
    </div>
    </form>
</body>
</html>
