﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetAddressLatLong.aspx.cs" Inherits="GetAddressLatLong" %>





<%@ Register src="wuc/try1.ascx" tagname="try1" tagprefix="uc1" %>





<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Geocoding with GMap v3</title>
      
   <link href="style/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/LotMap.js"></script>
  </head>
<body>
    <form id="form1" runat="server">
    <div>
    
       
    
        <uc1:try1 ID="try11" runat="server" />
    
       
    
    </div>
    </form>
</body>
</html>
