﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="graph1.aspx.cs" Inherits="graph1" %>


<form id="form1" runat="server">


<asp:chart runat="server" ID="ctl00" DataSourceID="SqlDataSource1"><Series>
    <asp:Series Name="Series1" XValueMember="country" YValueMembers="Population"></asp:Series></Series><ChartAreas><asp:ChartArea Name="ChartArea1"></asp:ChartArea></ChartAreas></asp:chart>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" 
    SelectCommand="SELECT [country], [Population] FROM [graph]">
</asp:SqlDataSource>
</form>

