﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="jst.aspx.cs" Inherits="jst" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <img src="//maps.googleapis.com/maps/api/streetview?size=400x400&amp;location=  44.3976674,-79.7198538&amp;fov=90&amp;heading=235&amp;pitch=10" width="400" height="400px">
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
