﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Lot_Details.aspx.cs" Inherits="Lot_Details" %>

<%@ Register src="WUC/wuc_lot_details.ascx" tagname="wuc_lot_details" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:wuc_lot_details ID="wuc_lot_details1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
