﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Lot_distance_rootmap.aspx.cs" Inherits="Lot_distance_rootmap" %>

<%@ Register src="WUC/wuc_lotdistance_rootmap.ascx" tagname="wuc_lotdistance_rootmap" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_lotdistance_rootmap ID="wuc_lotdistance_rootmap1" runat="server" />
    
    </div>
    </form>
</body>
</html>
