﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_CardDeliveryMaster.aspx.cs" Inherits="Operator_CardDeliveryMaster" %>

<%@ Register src="WUC/wuc_carddeliverymethod_Master.ascx" tagname="wuc_carddeliverymethod_Master" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Card Delivery </h1>
 

 
 

 
     
       <uc1:wuc_carddeliverymethod_Master ID="wuc_carddeliverymethod_Master1" 
        runat="server" />
 

 
 

 
     
       </div>
</asp:Content>

