﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_CampusMaster.aspx.cs" Inherits="Operator_CampusMaster" %>

<%@ Register src="WUC/wuc_Campus.ascx" tagname="wuc_Campus" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Campus</h1>
 

 
     
    
 

 
     
       <uc1:wuc_Campus ID="wuc_Campus1" runat="server" />
 

 
     
    
 

 
     
       </div>
</asp:Content>

