﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_timeZoneMaster.aspx.cs" Inherits="Operator_timeZoneMaster" %>

<%@ Register src="WUC/wuc_Timezonemanager.ascx" tagname="wuc_Timezonemanager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Time Zone</h1>
 

 
     
   
 

 
     
       <uc1:wuc_Timezonemanager ID="wuc_Timezonemanager1" runat="server" />
 

 
     
   
 

 
     
       </div>
</asp:Content>

