﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_VehicleModel.aspx.cs" Inherits="Operator_VehicleModel" %>

<%@ Register src="WUC/wuc_VehicleModel.ascx" tagname="wuc_VehicleModel" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Vehicle Model</h1>
 

 
     
    

 
     
       <uc1:wuc_VehicleModel ID="wuc_VehicleModel1" runat="server" />
 

 
     
    

 
     
       </div>
</asp:Content>


