﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditUploadSiteAgreementDocument.aspx.cs" Inherits="Operator_EditUploadSiteAgreementDocument" %>

<%@ Register src="WUC/wuc_EditUploadTermsAndConditionForSite.ascx" tagname="wuc_EditUploadTermsAndConditionForSite" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Upload Site Agreement Document  </h1>
   <uc1:wuc_EditUploadTermsAndConditionForSite   ID="wuc_EditUploadTermsAndConditionForSite1" runat="server" />
  
   



   

    
     
 
       </div>
</asp:Content>

