﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_VehicleTypeMaster.aspx.cs" Inherits="Operator_VehicleTypeMaster" %>

<%@ Register src="WUC/wuc_vehicle_type.ascx" tagname="wuc_vehicle_type" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Vehicle Type</h1>
 

 
     
       <uc1:wuc_vehicle_type ID="wuc_vehicle_type1" runat="server" />
 

 
     
       </div>
</asp:Content>

