﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_Vehicle Make_Model.aspx.cs" Inherits="Operator_Vehicle_Make_Model" %>

<%@ Register src="WUC/wuc_vehicleMak_Model.ascx" tagname="wuc_vehicleMak_Model" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Vehicle Make</h1>
 

 
     
     

 
     
       <uc1:wuc_vehicleMak_Model ID="wuc_vehicleMak_Model1" runat="server" />
 

 
     
     

 
     
       </div>
</asp:Content>

