﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditCardDeliveryMaster.aspx.cs" Inherits="Operator_EditCardDeliveryMaster" %>

<%@ Register src="WUC/wuc_EditCardDeliveryMaster.ascx" tagname="wuc_EditCardDeliveryMaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Card Delivery     </h1>
    

     
 
       

     
 
       <uc1:wuc_EditCardDeliveryMaster ID="wuc_EditCardDeliveryMaster1" 
        runat="server" />
    

     
 
       

     
 
       </div>
</asp:Content>

