﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_FillDetail_Of_Coporate_Employee.aspx.cs" Inherits="Operator_FillDetail_Of_Coporate_Employee" %>

<%@ Register src="WUC/wuc_FillDetail_of_Corporate.ascx" tagname="wuc_FillDetail_of_Corporate" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Add New Corporate Parkers</h1>
  
  
   
 
       <uc1:wuc_FillDetail_of_Corporate ID="wuc_FillDetail_of_Corporate1" 
        runat="server" />
  
  
   
 
       </div>
</asp:Content>

