﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_parkerdetail.aspx.cs" Inherits="Operator_parkerdetail" %>

<%@ Register src="WUC/wuc_ParkerDetails.ascx" tagname="wuc_ParkerDetails" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>
    </h1>
 <uc1:wuc_ParkerDetails ID="wuc_ParkerDetails1" 
        runat="server" />
       </div>
</asp:Content>

