﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_DetailOfRefundParker.aspx.cs" Inherits="Operator_DetailOfRefundParker" %>

<%@ Register src="WUC/wuc_DetailOfRefundParker.ascx" tagname="wuc_DetailOfRefundParker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Details</h1>
 
       
       <uc1:wuc_DetailOfRefundParker ID="wuc_DetailOfRefundParker1" runat="server" />
 
       
       </div>
</asp:Content>

