﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="operator_search_bill.aspx.cs" Inherits="operator_search_bill" %>

<%@ Register src="WUC/wuc_dua_payment_parkers.ascx" tagname="wuc_dua_payment_parkers" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right">
   
   



   

    
     
 
       <uc1:wuc_dua_payment_parkers ID="wuc_dua_payment_parkers1" runat="server" />
   
   



   

    
     
 
       </div>
</asp:Content>

