﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_ProvinceMaster.aspx.cs" Inherits="Operator_ProvinceMaster" %>

<%@ Register src="WUC/wuc_statemaster.ascx" tagname="wuc_statemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Province</h1>
 
    
 
       <uc1:wuc_statemaster ID="wuc_statemaster1" runat="server" />
 
    
 
       </div>
</asp:Content>

