﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditTimeZoneMaster.aspx.cs" Inherits="Operator_EditTimeZoneMaster" %>

<%@ Register src="WUC/wuc_edit_timezonemanager.ascx" tagname="wuc_edit_timezonemanager" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Time Zone  </h1>
    <uc1:wuc_edit_timezonemanager ID="wuc_edit_timezonemanager1" runat="server" />
   



   

    
     
 
       </div>
</asp:Content>

