﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_profile.aspx.cs" Inherits="Operator_profile" %>

<%@ Register src="WUC/wuc_operator_Profile.ascx" tagname="wuc_operator_Profile" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>
        
    </h1>
 <uc1:wuc_operator_Profile ID="wuc_operator_Profile1" runat="server" />
       </div>
</asp:Content>

