﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditCampusMaster.aspx.cs" Inherits="Operator_EditCampusMaster" %>

<%@ Register src="WUC/wuc_EditCampus.ascx" tagname="wuc_EditCampus" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Campus  </h1>
  
   
   <link href="style/main.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
      <script src="js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>

    

    <script src="js/CampusEdit.js" type="text/javascript"></script>
 


   

    
     
 
       <uc1:wuc_EditCampus ID="wuc_EditCampus1" runat="server" />
  
   



   

    
     
 
       </div>
</asp:Content>

