﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_Coupon_Master.aspx.cs" Inherits="Operator_Coupon_Master" %>

<%@ Register src="WUC/Wuc_CoupanMaster.ascx" tagname="Wuc_CoupanMaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Coupon</h1>
 
       
 
       <uc1:Wuc_CoupanMaster ID="Wuc_CoupanMaster1" runat="server" />
 
       
 
       </div>
</asp:Content>

