﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_CountryMaster.aspx.cs" Inherits="Operator_CountryMaster" %>

<%@ Register src="WUC/wuc_country.ascx" tagname="wuc_country" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Country</h1>
 
       <uc1:wuc_country ID="wuc_country1" runat="server" />
 
       </div>
</asp:Content>

