﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_UploadSiteAgreementDocument.aspx.cs" Inherits="Operator_UploadSiteAgreementDocument" %>

<%@ Register src="WUC/wuc_UploadTermsAndConditionForSite.ascx" tagname="wuc_UploadTermsAndConditionForSite" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Upload Customer Agreement
</h1>
 

 
     
     
 

 
     
       <uc1:wuc_UploadTermsAndConditionForSite ID="wuc_UploadTermsAndConditionForSite1" 
        runat="server" />
 

 
     
     
 

 
     
       </div>
</asp:Content>

