﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_CityMaster.aspx.cs" Inherits="Operator_CityMaster" %>

<%@ Register src="WUC/wuc_city.ascx" tagname="wuc_city" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>City</h1>
 

 
       <uc1:wuc_city ID="wuc_city1" runat="server" />
 
       </div>
</asp:Content>

