﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_ExtraChargeMaster.aspx.cs" Inherits="Operator_ExtraChargeMaster" %>

<%@ Register src="WUC/Wuc_extrachargemaster.ascx" tagname="Wuc_extrachargemaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Extra Charges</h1>
 

 
     
      
 

 
     
       <uc1:Wuc_extrachargemaster ID="Wuc_extrachargemaster1" runat="server" />
 

 
     
      
 

 
     
       </div>
</asp:Content>

