﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditExtraChargeMaster.aspx.cs" Inherits="Operator_EditExtraChargeMaster" %>

<%@ Register src="WUC/Wuc_editextracharges.ascx" tagname="Wuc_editextracharges" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Extra Charge </h1>  
    <uc1:Wuc_editextracharges ID="Wuc_editextracharges1" runat="server" />
   
  



   

    
     
 
       </div>
</asp:Content>

