﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditOf Employee_Details.aspx.cs" Inherits="Operator_EditOf_Employee_Details" %>

<%@ Register src="WUC/wuc_edit_employee_of_corporate_parker.ascx" tagname="wuc_edit_employee_of_corporate_parker" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Details Of Employee</h1>
  
 
      
  
 
       <uc1:wuc_edit_employee_of_corporate_parker ID="wuc_edit_employee_of_corporate_parker1" 
         runat="server" />
  
 
      
  
 
       </div>
</asp:Content>

