﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="operator_GraphOfIndividualCorporate.aspx.cs" Inherits="operator_GraphOfIndividualCorporate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <div class="body-right">
    <div>
        <asp:Literal ID="lt" runat="server"></asp:Literal>
    </div>
   
    <div id="chart_div"></div>    
  </div>
</asp:Content>

