﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_SiteMaster.aspx.cs" Inherits="Operator_SiteMaster" %>

<%@ Register src="WUC/wuc_SiteManger.ascx" tagname="wuc_SiteManger" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Customer</h1>
 

 
     
     
 

 
     
       <uc1:wuc_SiteManger ID="wuc_SiteManger1" runat="server" />
 

 
     
     
 

 
     
       </div>
</asp:Content>

