﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="OperatorChangePassword.aspx.cs" Inherits="OperatorChangePassword" %>

<%@ Register src="WUC/wuc_change_password.ascx" tagname="wuc_change_password" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Dashboard</h1>
 
      
 
       <uc1:wuc_change_password ID="wuc_change_password1" runat="server" />
 
      
 
       </div>
</asp:Content>

