﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_CategoryMaster.aspx.cs" Inherits="Operator_CategoryMaster" %>

<%@ Register src="WUC/wuc_Category.ascx" tagname="wuc_Category" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Category</h1>
 

 
     
       <uc1:wuc_Category ID="wuc_Category1" runat="server" />
 

 
     
       </div>
</asp:Content>

