﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_UploadlotAgreementDocument.aspx.cs" Inherits="Operator_UploadlotAgreementDocument" %>

<%@ Register src="WUC/wuc_UploadTermsForLot.ascx" tagname="wuc_UploadTermsForLot" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Upload Lot Documents</h1>
 
       <uc1:wuc_UploadTermsForLot ID="wuc_UploadTermsForLot1" runat="server" />
 
       </div>
</asp:Content>

