﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_VehicleColor.aspx.cs" Inherits="Operator_VehicleColor" %>

<%@ Register src="WUC/wuc_AddColor.ascx" tagname="wuc_AddColor" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Vehicle Color</h1>
 

 
     
      
 

 
     
       <uc1:wuc_AddColor ID="wuc_AddColor1" runat="server" />
 

 
     
      
 

 
     
       </div>
</asp:Content>

