﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditVehicleTypeMaster.aspx.cs" Inherits="Operator_EditVehicleTypeMaster" %>

<%@ Register src="WUC/wuc_EditVehicle_Type.ascx" tagname="wuc_EditVehicle_Type" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Edit Vehicle Type  </h1>
<uc1:wuc_EditVehicle_Type  ID="wuc_EditVehicle_Type1" runat="server" />
   

      
       </div>
</asp:Content>

