﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_EditCountryMaster.aspx.cs" Inherits="Operator_EditCountryMaster" %>

<%@ Register src="WUC/wuc_edit_country.ascx" tagname="wuc_edit_country" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="body-right"><h1>Edit Country </h1><uc1:wuc_edit_country 
         ID="wuc_edit_country1" runat="server" />
    
 
       </div>
</asp:Content>

