﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Operator.master.cs" Inherits="Operator" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dashboard</title>
<link href="stylesheet/style.css" rel="stylesheet" type="text/css" />
<link href="stylesheet/font-awesome.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type='text/javascript' src="js/jquery.cookie.js"></script>
<script type='text/javascript' src="js/jquery.dcjqaccordion.2.7.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#accordion-1').dcAccordion({
            eventType: 'click',
            autoClose: true,
            saveState: true,
            disableLink: true,
            speed: 'slow',
            showCount: false,
            autoExpand: true,
            cookie: 'dcjq-accordion-1',
            classExpand: 'dcjq-current-parent'
        });

    });
</script>
<script type='text/javascript'>
    var windowHeight = $(window).height();
    $(window).resize(function () {
        if (windowHeight < 600 + 'px') {
            $('.body-right ').height($('.body-right ').height() - 20 + 'px');
            $('.body-left  ').height($('.body-left  ').height() - 20 + 'px');
        }
    });
</script>
<style type="text/css">
.label
{
    font-style:italic oblique;
    color:Blue;
    margin-right:15px;
</style>
</head>
<body onload="initialize();">
<form id="frm" runat="server">

<div class="header-container">
<div class="logo"><img src="images/logo-dashboard.png" width="160" height="73" /></div>
<div class="nav-area"><div class="header-right"> <span>Welcome :</span> <asp:Label ID="lbl_admin" runat="server" CssClass=label></asp:Label><i class="fa fa-power-off">
    <asp:LinkButton ID="lnkbtn_Logout" runat="server" onclick="lnkbtn_Logout_Click">logout</asp:LinkButton></i> </div>

    <ul>
      <li><a href="#"><i class="fa fa-user"></i>Client</a></li>
      <li><a href="#"><i class="fa fa-file-text"></i>Orders</a></li>
      <li><a href="#"><i class="fa fa-file-text"></i>Billing</a></li>
      <li><a href="#"><i class="fa fa-user"></i>Support</a></li>
      <li><a href="#"><i class="fa fa-file-text"></i>Reports</a></li>
      <li><a href="#"><i class="fa fa-user"></i>Utilities</a></li>
      <li><a href="#"><i class="fa fa-download"></i>Addons</a></li>
      <li><a href="#"><i class="fa fa-cog"></i>Setup</a></li>
    </ul>
  </div>
  
  
  <div class="clearfix"></div>
</div>
<div class="body-container">
<div class="body-left">
    <div class="menu-accordian">
      <ul id="accordion-1" class="accordion">
        <li><a href="#" class="first">Dashboard</a></li>
        <%--<li><a href="#">Typography</a>
          <ul style="display: none;">
            <li class=" dcjq-parent-li"><a href="#" class="dcjq-parent">Mobile Phones &amp; Accessories</a> </li>
            <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Desktop</a> </li>
            <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Laptop</a> </li>
            <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Accessories</a> </li>
            <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Software</a> </li>
          </ul>
        </li>
        <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">UI Elements </a>
          <ul style="display: none;">
            <li><a href="#">About Page 1</a></li>
            <li><a href="#">About Page 2</a></li>
          </ul>
        </li>--%>
       <%-- <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Administration</a>
          <ul style="display: none;">--%>
          <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Parkers</a>
             <%--<ul style="display: none;">


             
                <li><a href="Search_ParkerByOperator.aspx">Search Parkers</a></li>
                 <li><a href="Admin_Operator.aspx">Parkers Registration</a></li>
              </ul>--%>

              <ul style="display: none;">
                <%--<li><a href="OperatorChangePassword.aspx">Change Password</a></li>
                  <li><a href="operator_login_history.aspx">Login History</a></li>--%>


                  <asp:Repeater ID="Repeater2" runat="server" DataSourceID="SqlDataSource2" onitemcommand="Repeater2_ItemCommand">
        <ItemTemplate>
            
           <li>
                    <asp:LinkButton ID="lnkEdit" CommandName="cmdEdit" CommandArgument='<%#Eval("id") %>' runat="server" > <%#Eval("menu") %>

                    <asp:Label ID="idLabel1" runat="server" Text='<%# Eval("navigationurl") %>' Visible="false"></asp:Label>
                    </asp:LinkButton>

                      <asp:Label ID="lbladd1" runat="server" Text='<%# Eval("Addpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbledit1" runat="server" Text='<%# Eval("Editpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbldelete1" runat="server" Text='<%# Eval("Deletepermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblread1" runat="server" Text='<%# Eval("Readpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblfull1" runat="server" Text='<%# Eval("Fullpermssn") %>' Visible="false"></asp:Label>
                    
                </li>
        </ItemTemplate>

        </asp:Repeater>
        <asp:SqlDataSource ID="SqlDataSource2" runat="server" 
            ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" SelectCommand="select tblUserMenu.*,tbl_menus.id,tbl_menus.menuname as menu,tbl_menus.parentid,tbl_menus.navigationurl from tblUserMenu
inner join tbl_menus on tblUserMenu.Menuname=tbl_menus.id
where Username=@username and tbl_menus.parentid=2
">
            <SelectParameters>
                <asp:SessionParameter Name="username" SessionField="Login" />
            </SelectParameters>
        </asp:SqlDataSource>
              </ul>
            </li>

            
         <%--   <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Define Master</a>
             <ul style="display: none;">
              <li>   <asp:LinkButton ID="LinkButton1" runat="server" 
                  PostBackUrl="~/Admin_CampusMaster.aspx" onclick="LinkButton1_Click">LinkButton</asp:LinkButton></li>--%>
               <%--<li><a href="Admin_SiteMaster.aspx">Customers Management</a></li>--%>
              <%-- <li><a href="Admin_CampusMaster.aspx">Campus</a></li>--%>
               <%--<li><a href="LotMaster.aspx">Lot Manager</a></li>
                <li><a href="Admin_uploadSiteAgreementDocument.aspx">Upload Documents For Customers</a></li>
                <li><a href="Admin_CountryMaster.aspx">Country</a></li>
                <li><a href="Admin_StateMaster.aspx">Province</a></li>
                 <li><a href="Admin_CityMaster.aspx">City</a></li>
                <li><a href="Admin_CategoryMaster.aspx">Category</a></li>
                 
                      <li><a href="Admin_VehicleTypeMaster.aspx">Vehicle Type</a></li>
                    <li><a href="Admin_VehicleMakeModelMaster.aspx">Vehicle Make/Model</a></li>
                    <li><a href="Admin_VehicleColor.aspx">Vehicle Color</a></li>
                    <li><a href="Admin_TimeZoneMaster.aspx">Time Zone</a></li>
                   
                 
                      
                       <li><a href="Admin_ExtraChargeMaster.aspx">Extra Charges</a></li>

                     
                      <li><a href="Admin_UserPermissionMaster.aspx">User Permission</a></li>
                      <li><a href="Admin_CoupanMaster.aspx">Coupon Master</a></li>
                     
                      <li><a href="Admin_ChargebyMaster.aspx">Charge by</a></li>
                      <li><a href="Admin_CardDeliveryMaster.aspx">Card Delivery</a></li>--%>

                       <%-- <li><a href="Admin_VehiclePlanMaster.aspx">Vehicle Plans</a></li>--%>

                   <%-- <li><a href="Admin_LotMaster.aspx">Lots</a></li>--%>
                  <%-- <li><a href="Admin_LotToPlanAllotMaster.aspx">Lots To Plan Allotment</a></li>
                   <li><a href="Admin_AgreementType.aspx">Agreement Type</a></li>

                        <li><a href="Admin_SiteAgreementMaster.aspx">Site Agreement</a></li>--%>
                         <%--  <li><a href="Admin_SiteType.aspx">Customer Type</a></li>--%>
          <%--    </ul>
            </li>--%>

            
            <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Setting</a>
             <%--<ul style="display: none;">
                <li><a href="OperatorChangePassword.aspx">Change Password</a></li>
                  <li><a href="operator_login_history.aspx">Login History</a></li>
              </ul>--%>

              <ul style="display: none;">
                <%--<li><a href="OperatorChangePassword.aspx">Change Password</a></li>
                  <li><a href="operator_login_history.aspx">Login History</a></li>--%>


                  <asp:Repeater ID="Repeater3" runat="server" DataSourceID="SqlDataSource3" onitemcommand="Repeater3_ItemCommand">
        <ItemTemplate>
            
           <li>
                    <asp:LinkButton ID="lnkEdit" CommandName="cmdEdit" CommandArgument='<%#Eval("id") %>' runat="server" > <%#Eval("menu") %>

                    <asp:Label ID="idLabel2" runat="server" Text='<%# Eval("navigationurl") %>' Visible="false"></asp:Label>
                    </asp:LinkButton>


                    
                    <asp:Label ID="lbladd2" runat="server" Text='<%# Eval("Addpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbledit2" runat="server" Text='<%# Eval("Editpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbldelete2" runat="server" Text='<%# Eval("Deletepermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblread2" runat="server" Text='<%# Eval("Readpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblfull2" runat="server" Text='<%# Eval("Fullpermssn") %>' Visible="false"></asp:Label>
                    
                </li>
        </ItemTemplate>

        </asp:Repeater>
        <asp:SqlDataSource ID="SqlDataSource3" runat="server" 
            ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" SelectCommand="select tblUserMenu.*,tbl_menus.id,tbl_menus.menuname as menu,tbl_menus.parentid,tbl_menus.navigationurl from tblUserMenu
inner join tbl_menus on tblUserMenu.Menuname=tbl_menus.id
where Username=@username and tbl_menus.parentid=3
">
            <SelectParameters>
                <asp:SessionParameter Name="username" SessionField="Login" />
            </SelectParameters>
        </asp:SqlDataSource>
              </ul>

              
            </li>

            

              <li class="dcjq-parent-li"><a href="Operator_profile.aspx" class="dcjq-parent">Profile</a>
              <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">DefineMaster</a>
             <ul style="display: none;">
                <%--<li><a href="OperatorChangePassword.aspx">Change Password</a></li>
                  <li><a href="operator_login_history.aspx">Login History</a></li>--%>


                  <asp:Repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource1" onitemcommand="Repeater1_ItemCommand">
        <ItemTemplate>
            
           <li>
                    <asp:LinkButton ID="lnkEdit" CommandName="cmdEdit" CommandArgument='<%#Eval("id") %>' runat="server" > <%#Eval("menu") %>

                    <asp:Label ID="idLabel" runat="server" Text='<%# Eval("navigationurl") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbladd" runat="server" Text='<%# Eval("Addpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbledit" runat="server" Text='<%# Eval("Editpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lbldelete" runat="server" Text='<%# Eval("Deletepermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblread" runat="server" Text='<%# Eval("Readpermssn") %>' Visible="false"></asp:Label>
                    <asp:Label ID="lblfull" runat="server" Text='<%# Eval("Fullpermssn") %>' Visible="false"></asp:Label>

                    </asp:LinkButton>
                    
                </li>
        </ItemTemplate>

        </asp:Repeater>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" SelectCommand="select tblUserMenu.*,tbl_menus.id,tbl_menus.menuname as menu,tbl_menus.parentid,tbl_menus.navigationurl from tblUserMenu
inner join tbl_menus on tblUserMenu.Menuname=tbl_menus.id
where Username=@username and tbl_menus.parentid=1
">
            <SelectParameters>
                <asp:SessionParameter Name="username" SessionField="Login" />
            </SelectParameters>
        </asp:SqlDataSource>
              </ul>
            </li>

             <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Refund</a>
             <ul style="display: none;">
                <li>
                    <asp:LinkButton ID="search_refund" runat="server" onclick="search_refund_Click">Search Parkers For Refund</asp:LinkButton>
                <%--<a href="Operator_Search_RefundableByParker.aspx">Search Parkers For Refund</a>--%></li>
                </ul>
             </li>
             <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Bill</a>
             <ul style="display: none;">
                <li>
                    <asp:LinkButton ID="bill_info" runat="server" onclick="search_bill_Click" >Bill Information</asp:LinkButton>
                             </li>
                </ul>
             </li>
                <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Graph</a>
            <ul style="display: none;">
          

            <li><a href="operator_GraphOfIndividualCorporate.aspx">Individual/Corporate Registration</a></li>
         <%--   <li><a href="Admin_DatewiseCorporateIndividual.aspx">Date Wise Registration</a></li>--%>
              
            </ul>
            </li>
             <li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Corporate</a>
             <ul style="display: none;">
                <li>
                  <%--  <asp:LinkButton ID="LinkButton1" runat="server" onclick="search_refund_Click">Corporate_Registration</asp:LinkButton>--%>
                <a href="Operator_Corporate_Registration.aspx">Add New Corporate Account</a></li>
                <a href="Operator_Search_Corporate_Parker.aspx">Search Corporate Account </a></li>

                </ul>
             </li>
            <%--<li class="dcjq-parent-li"><a href="#" class="dcjq-parent">Service 3</a>
              <ul style="display: none;">
                <li><a href="#">Service Detail D</a></li>
                <li><a href="#">Service Detail E</a></li>
                <li><a href="#">Service Detail F</a></li>
              </ul>
            </li>
            <li><a href="#">Service 4</a></li>
          </ul>
        </li>
        <li><a href="#">Tables</a></li>
        <li><a href="#">Maps</a></li>
        <li><a href="#">Box</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a class="last" href="#">Griding System</a></li>--%>
      </ul>
    </div>
  </div>

 
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</div>
</form>
</body>
</html>
