﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_ChargebyMaster.aspx.cs" Inherits="Operator_ChargebyMaster" %>

<%@ Register src="WUC/wuc_ChargeByMaster.ascx" tagname="wuc_ChargeByMaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Charge By</h1>
 

 
     
       
 

 
     
       <uc1:wuc_ChargeByMaster ID="wuc_ChargeByMaster1" runat="server" />
 

 
     
       
 

 
     
       </div>
</asp:Content>

