﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator.master" AutoEventWireup="true" CodeFile="Operator_LotMaster.aspx.cs" Inherits="Operator_LotMaster" %>

<%@ Register src="WUC/wuc_LotMaster.ascx" tagname="wuc_LotMaster" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="body-right"><h1>Lot</h1>

 

 
     
       

 

 
     
       <uc1:wuc_LotMaster ID="wuc_LotMaster1" runat="server" />

 

 
     
       

 

 
     
       </div>
</asp:Content>

