﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AllParkersMaster.master" AutoEventWireup="true" CodeFile="Parker_details.aspx.cs" Inherits="Parker_details" %>

<%@ Register src="WUC/wuc_ParkerDetails.ascx" tagname="wuc_ParkerDetails" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="row dash-box">
    <form id="form1" runat="server">
   
    <uc1:wuc_ParkerDetails ID="wuc_ParkerDetails1" runat="server" />
   
    </form>
    </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

