﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AllParkersMaster.master" AutoEventWireup="true" CodeFile="Parker_changepassword.aspx.cs" Inherits="Parker_changepassword" %>

<%@ Register src="WUC/wuc_change_password.ascx" tagname="wuc_change_password" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="row dash-box">
    <form id="form1" runat="server">
    <uc1:wuc_change_password ID="wuc_change_password1" runat="server" />
    </form>
    </div>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <img src="images/message.jpg" width="503" height="257" />
</asp:Content>

