﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Refund_Request.aspx.cs" Inherits="Refund_Request" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<%@ Register src="WUC/wuc_Refund_Request_Ticket.ascx" tagname="wuc_Refund_Request_Ticket" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="stylesheet/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheet/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
</head>
<body onload="initialize()">
<div class="wrapper">
<div class="container">
<div class="logo-area"><a href="#"><img border="0" alt="Salesforce" src="images/ipass-logo.jpg" /></a></div>
 <div class="body-container">

  
    
        
  <form id="form1" runat="server">
  <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
  </cc1:ToolkitScriptManager>
    <uc1:wuc_Refund_Request_Ticket ID="wuc_Refund_Request_Ticket1" runat="server" />
  

    </form></div>

    </div>

    </div>
    <br /> &nbsp;   <br />
        <div class="footer-container"></div>




    
  
</body>
</html>
