﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Registration_New_Parker.aspx.cs" Inherits="Registration_New_Parker" %>

<%@ Register src="WUC/wuc_registration_Newparker.ascx" tagname="wuc_registration_Newparker" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:wuc_registration_Newparker ID="wuc_registration_Newparker1" 
        runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
