﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Report_demo.aspx.cs" Inherits="Report_demo" %>

<%@ Register src="WUC/Wuc_Report1.ascx" tagname="Wuc_Report1" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head runat="server">
    <title></title>
   <%-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/start/jquery-ui.css"
    rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("#dvAccordian").accordion();
    });
</script>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:Wuc_Report1 ID="Wuc_Report11" runat="server" />
    
    </div>
    </form>
</body>
</html>
