﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Revenue.aspx.cs" Inherits="Revenue" %>

<%@ Register src="WUC/Wuc_Report1.ascx" tagname="Wuc_Report1" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>Revenue</h1>
    <p>&nbsp;</p>
 
      
 
       <uc1:Wuc_Report1 ID="Wuc_Report11" runat="server" />
 
      
 
       </div>
</asp:Content>

