﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Screen2.aspx.cs" Inherits="Screen2" %>

<%@ Register src="WUC/Wuc_screen2.ascx" tagname="Wuc_screen2" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:Wuc_screen2 ID="Wuc_screen21" runat="server" />
    
    </div>
    
    </form>
</body>
</html>
