﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Show_Graph.aspx.cs" Inherits="Show_Graph" %>

<%@ Register src="WUC/wuc_showgraph.ascx" tagname="wuc_showgraph" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="body-right"><h1>graph
        </h1>
 <uc1:wuc_showgraph ID="wuc_showgraph1" runat="server" />
    
  </div>
</asp:Content>

