﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StatusOfParker.aspx.cs" Inherits="StatusOfParker" %>

<%@ Register src="WUC/wuc_StatusOfParker.ascx" tagname="wuc_StatusOfParker" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link href="stylesheet/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheet/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet/CSS.css" rel="stylesheet" type="text/css" />
</head>
<body onload="initialize()">
<div class="wrapper">
<div class="container">
<div class="logo-area"><a href="#"><img border="0" alt="Salesforce" src="images/ipass-logo.png" /></a></div>
 <div class="body-container">
    <form id="form1" runat="server">

   
    <uc1:wuc_StatusOfParker ID="wuc_StatusOfParker1" runat="server" />

   
    </form>
    </div>

    </div>

    </div>
    <br /> &nbsp;   <br />
        <div class="footer-container"></div>
</body>
</html>
