﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Tariff_plan.aspx.cs" Inherits="Tariff_plan" %>

<%@ Register src="WUC/wuc_tariff_plan.ascx" tagname="wuc_tariff_plan" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_tariff_plan ID="wuc_tariff_plan1" runat="server" />
    
    </div>
    </form>
</body>
</html>
