﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TariffManger.aspx.cs" Inherits="TariffManger" %>

<%@ Register src="WUC/wuc_tariff_details.ascx" tagname="wuc_tariff_details" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_tariff_details ID="wuc_tariff_details1" runat="server" />
    
    </div>
    </form>
</body>
</html>
