﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Terms_condition.aspx.cs" Inherits="Terms_condition" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" 
            SelectCommand="SELECT * FROM [tbl_uploadlotTerms] WHERE ([LotId] = @LotId)">
                <SelectParameters>
                    <asp:SessionParameter Name="LotId" SessionField="LOTIDForInserting" 
                        Type="Int64" />
                </SelectParameters>
        </asp:SqlDataSource>
    <asp:repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource1">
        
      
            
        

            <ItemTemplate>
              
            
                
<embed src='<%#"TermsForLots/"+Eval("LotTermPdfName") %>' width="100%" height="1024px"> </embed>
    <%--<asp:Image ID="Image1" runat="server" ImageUrl='<%#"~/FlagImage/Resized/"+Eval("Country_flag") %>' />--%>
              
        </ItemTemplate>
           <%-- <SelectParameters>
                <asp:SessionParameter Name="LotId" SessionField="Lotid" Type="Int64" />
            </SelectParameters>--%>
        </asp:repeater>
    </div>
    </form>
</body>
</html>

