﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<form id="form1" runat="server">


<asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Button" />


<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

<asp:Repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource1">


</asp:Repeater>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" SelectCommand="select tblUserMenu.*,tbl_menus.* from tblUserMenu
inner join tbl_menus on tblUserMenu.Menuname=tbl_menus.id
where Username='rajat' and tbl_menus.parentid=1
"></asp:SqlDataSource>

</form>


