﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TimeZone.aspx.cs" Inherits="TimeZone" %>











<%@ Register src="WUC/wuc_Timezonemanager.ascx" tagname="wuc_Timezonemanager" tagprefix="uc1" %>











<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type = "text/javascript">
        var popUpObj;
        function showModalPopUp() {
            popUpObj = window.open("PopUp.aspx",
    "ModalPopUp",
    "toolbar=no," +
    "scrollbars=no," +
    "location=no," +
    "statusbar=no," +
    "menubar=no," +
    "resizable=0," +
    "width=100," +
    "height=100," +
    "left = 490," +
    "top=300"
    );
            popUpObj.focus();
            LoadModalDiv();
        }
      
</script>
<script type = "text/javascript">
    function LoadModalDiv() {
        var bcgDiv = document.getElementById("divBackground");
        bcgDiv.style.display = "block";
        if (bcgDiv != null) {
            if (document.body.clientHeight > document.body.scrollHeight) {
                bcgDiv.style.height = document.body.clientHeight + "px";
            }
            else {
                bcgDiv.style.height = document.body.scrollHeight + "px";
            }
            bcgDiv.style.width = "100%";
        }
    }
</script>
 <script type = "text/javascript">
     function HideModalDiv() {
         var bcgDiv = document.getElementById("divBackground");
         bcgDiv.style.display = "none";
     }
</script> 
 <script type = "text/javascript">
     function OnUnload() {
         if (false == popUpObj.closed) {
             popUpObj.close();
         }
     }
     window.onunload = OnUnload;
 </script> 
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_Timezonemanager ID="wuc_Timezonemanager1" runat="server" />
    
    </div>
    </form>
</body>
</html>
