﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Update_IndividualParker_Vehicle.aspx.cs" Inherits="Update_IndividualParker_Vehicle" %>

<%@ Register src="WUC/wuc_addmorevehicleparker_individual.ascx" tagname="wuc_addmorevehicleparker_individual" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_addmorevehicleparker_individual ID="wuc_addmorevehicleparker_individual1" 
            runat="server" />
    
    </div>
    </form>
</body>
</html>
