﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UpdateVehicle_IndividualParker_Vehicle.aspx.cs" Inherits="UpdateVehicle_IndividualParker_Vehicle" %>

<%@ Register src="WUC/Wuc_updatevehicleofparker.ascx" tagname="Wuc_updatevehicleofparker" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:Wuc_updatevehicleofparker ID="Wuc_updatevehicleofparker1" runat="server" />
    
    </div>
    </form>
</body>
</html>
