﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Vehicle_make_add.aspx.cs" Inherits="Vehicle_make_add" %>

<%@ Register src="WUC/wuc_vehicleMak_Model.ascx" tagname="wuc_vehicleMak_Model" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:wuc_vehicleMak_Model ID="wuc_vehicleMak_Model1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
