﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Vehicle_Model_Add.aspx.cs" Inherits="Vehicle_Model_Add" %>

<%@ Register src="WUC/wuc_VehicleModel.ascx" tagname="wuc_VehicleModel" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:wuc_VehicleModel ID="wuc_VehicleModel1" runat="server" />
    
    </div>
    </form>
</body>
</html>
