﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Vehicle_type.aspx.cs" Inherits="Vehicle_type" %>

<%@ Register src="WUC/wuc_vehicle_type.ascx" tagname="wuc_vehicle_type" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    
    <div>
    <uc1:wuc_vehicle_type ID="wuc_vehicle_type1" runat="server" />
    </div>
    </form>
</body>
</html>
