﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="try1.ascx.cs" Inherits="try1" %>
<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
<asp:UpdatePanel ID="UpdatePanel1" runat="server">
<ContentTemplate>
<label>Address: </label>

<%--<input id="address"  type="text"/>--%>
<asp:TextBox ID="address" runat="server"></asp:TextBox>
    <div id="map_canvas" style="width:300px; height:300px"></div><br/>
    <label>latitude: </label>
    
<asp:TextBox ID="latitude" runat="server" Enabled="false" 
    ></asp:TextBox>
    
      <label>longitude: </label>
    
<asp:TextBox ID="longitude" runat="server" Enabled="false" 
    ></asp:TextBox>
    
<asp:Button ID="Button1" runat="server" Text="Save" onclick="Button1_Click" />
</ContentTemplate>
</asp:UpdatePanel>