﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_parkersAddbyCorporate.ascx.cs" Inherits="WUC_wuc_parkersAddbyCorporate" %>
 <%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
 <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
                </cc1:ToolkitScriptManager>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
   button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

.button {
  display: inline-block;
  padding: 0.5em 2em 0.55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #2c67db;
  background-color: #3970dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#7299e7), to(#3970dd));
  background: -moz-linear-gradient(top, #7299e7, #3970dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7299e7', endColorstr='#3970dd');
  color: #ebf0fb; }
  .button:hover {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 1px; }
  .button:hover {
    background-color: #2561d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#658fe4), to(#2561d7));
    background: -moz-linear-gradient(top, #658fe4, #2561d7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#658fe4', endColorstr='#2561d7'); }
  .button:active {
    background-color: #658fe4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3970dd), to(#658fe4));
    background: -moz-linear-gradient(top, #3970dd, #658fe4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3970dd', endColorstr='#658fe4');
    color: #c3d4f4; }
    
</style>

<table class="style1">
    <tr>
        <td>
            Enter Parkers Number To be&nbsp; Add</td>
        <td>
            <asp:TextBox ID="txtbox_number" runat="server" Width="206px"></asp:TextBox>
        </td>
        <td>
            <asp:Button ID="Button1" runat="server" style="margin-left: 0px" 
                Text="Button" onclick="Button1_Click" CssClass="button" />
        </td>
    </tr>
</table>
<asp:Panel ID="Panel1" runat="server" Height="300px" ScrollBars="Vertical">
<fieldset>
<asp:Repeater ID="Repeater1" runat="server" 
    onitemcommand="Repeater1_ItemCommand" >
       
    <HeaderTemplate>
            <table width="100%" class="timezone-table" cellpadding="10">
                <tr>
                      <th>
                        First Name
                    </th>
                     <th>
                      Last Name
                    </th>
                              <%--   <th>
                        User Name
                    </th>--%>
                    <th>
                        Activation Date
                    </th>
                     <th>
                      Add Vehicle
                    </th>
                    <th>
                        Add Plan
                    </th>

                </tr>
        </HeaderTemplate>
        <ItemTemplate>
            <tr>
            <td>
                <asp:TextBox ID="txtbox_firstname" runat="server" CssClass="twitterStyleTextbox"></asp:TextBox>
                
                    </td><td>
                        <asp:TextBox ID="txtbox_lastname" runat="server" CssClass="twitterStyleTextbox"></asp:TextBox>
                </td>
                
             
               <%-- <td>
                    <asp:TextBox ID="txtbox_username" ontextchanged="txtbox_number_TextChanged" runat="server" CssClass="twitterStyleTextbox" AutoPostBack="True"></asp:TextBox>
                </td>--%>
                   <td>
                    <asp:TextBox ID="txtbox_activationdate" runat="server" CssClass="twitterStyleTextbox"></asp:TextBox>
                    <cc1:CalendarExtender ID="txtbox_ActicationDate_CalendarExtender" 
                            runat="server" Enabled="True" TargetControlID="txtbox_activationdate"></cc1:CalendarExtender>
                </td>
                <%--<td><asp:Button ID="btn_vehicle" runat="server" Text="Add Vehicle"  CssClass="button"  />

</td>
<td><asp:Button ID="btn_plan" runat="server" Text="Add Plan"  CssClass="button" Visible="true" 
                          /></td>--%>

                           <td>
                    <asp:LinkButton ID="lnkadddvehicle" CommandName="cmdAddvehicle" runat="server" Text="Add Vehicle" >
                    </asp:LinkButton>
                    
                </td>
                <td>
                <asp:LinkButton ID="lnkAddplan" CommandName="cmdAddplan"  runat="server" Text="Add Plan" >
                    </asp:LinkButton>
                    </td>
                   <%-- <asp:Label ID="idLabel" runat="server" Text='<%# Eval("Country_name") %>' 
                                        Visible="False" />
                                    <asp:Label ID="idlabel1" runat="server" Text='<%# Eval("Country_code") %>' 
                                        Visible="False"></asp:Label>
                    <asp:Label ID="idlabel2" runat="server" Text='<%# Eval("Country_Abbreviation") %>' 
                                        Visible="False"></asp:Label>
                                        <asp:Label ID="idlabel3" runat="server" Text='<%# Eval("Country_Abbreviation") %>' 
                                        Visible="False"></asp:Label>--%>
            </tr>
        </ItemTemplate>
        <FooterTemplate>
            </table>
        </FooterTemplate>
    </asp:Repeater>
    </fieldset>
</asp:Panel>
<p>
    <asp:Button ID="btn_finish" runat="server" CssClass="button" 
        onclick="btn_finish_Click" Text="Submit" />
</p>
