﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_bill.ascx.cs" Inherits="WUC_wuc_bill" %>
<%--<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label></br>

<asp:Label ID="Label2" runat="server" Text="Label"></asp:Label><br />
<asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
--%>