﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_CoupanSearch.ascx.cs" Inherits="WUC_wuc_CoupanSearch" %>
<style type="text/css">
    .twitterStyleTextbox {
    border: 1px solid #c4c4c4;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.twitterStyleTextbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

.coupan-result {
  position: absolute;
  right: 38px;
  width: 341px;
  font-size:13px;
}
.coupan-result span{ padding:10px;}
</style>




                <asp:TextBox ID="txtbox_coupannumber" runat="server" CssClass="twitterStyleTextbox"></asp:TextBox>
       
                <asp:Button ID="btn_search" runat="server" onclick="btn_search_Click" CssClass="button "
                    Text="Search" />
      


<%--<table width="100%" class="coupan-result">
<tr>
<td>
<asp:DataList ID="DataList1" runat="server" CellPadding="4" ForeColor="#333333" 
 DataSourceID="SqlDataSource1" Width="100%" 
    
    DataKeyField="CoupanCodeID" Visible="False" OnItemCommand="Item_Command">
    <AlternatingItemStyle BackColor="White" />
<FooterStyle BackColor="#1C5E55" Font-Bold="True" ForeColor="White" />
                    <HeaderStyle BackColor="#1C5E55" Font-Bold="True" 
        ForeColor="White" />
                    <HeaderTemplate>
                           </HeaderTemplate>
                    <ItemStyle BackColor="#E3EAEB" />
                    <SelectedItemStyle BackColor="#C5BBAF" Font-Bold="True" 
        ForeColor="#333333" />
                    <ItemTemplate>
              
                        LotName:
                        <asp:Label ID="LotNameLabel" runat="server" 
                            Text='<%# Eval("LotName") %>' />
                        <br />
                       
                        CouponType:
                        <asp:Label ID="CoupanTypeLabel" runat="server" 
                            Text='<%# Eval("CoupanType") %>' />
                        <br />
                        CouponDiscount:
                        <asp:Label ID="CoupanDiscountLabel" runat="server" 
                            Text='<%# Eval("CoupanDiscount") %>' />
                        <br />
                        
                        starting_date:
                        <asp:Label ID="starting_dateLabel" runat="server" 
                            Text='<%# Eval("starting_date") %>' />
                        <br />
                        ending_date:
                        <asp:Label ID="ending_dateLabel" runat="server" 
                            Text='<%# Eval("ending_date") %>' />
                        <br />
                       
                        
                         <asp:LinkButton ID="detail" CommandName="cmdLotDetails" CommandArgument='<%#Eval("Lot_id") %>' runat="server">Lot Details</asp:LinkButton>
                        <asp:Label ID="lotid" runat="server" Text='<%# Eval("Lot_id") %>' 
                                        Visible="False" />
                                        <asp:Label ID="coupantype" runat="server" 
                            Text='<%# Eval("CoupanType") %>' Visible="False" />
                        <br />
                    </ItemTemplate>
</asp:DataList>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" 
    SelectCommand="select tbl_LotMaster.*,tbl_CoupanMaster.* from tbl_CoupanMaster

inner join tbl_LotMaster on tbl_LotMaster.Lot_id=tbl_CoupanMaster.Lot_Id

where Coupan=@coupan">
    <SelectParameters>
        <asp:ControlParameter ControlID="txtbox_coupannumber" Name="coupan" 
            PropertyName="Text" />
    </SelectParameters>
</asp:SqlDataSource>

</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>--%>

