﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_EditVehicleColor.ascx.cs" Inherits="WUC_wuc_EditVehicleColor" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
        width: 134px;
    }
</style>

    <br />
    <div class="form">
    <label> Color Name :</label>
    <asp:TextBox ID="txtbox_colorname" runat="server" ValidationGroup="a"></asp:TextBox>
                <asp:RequiredFieldValidator ID="rfv_colorname" runat="server" 
                    ControlToValidate="txtbox_colorname" ErrorMessage="*" ForeColor="#CC0000" 
                    ValidationGroup="a"></asp:RequiredFieldValidator>
                    <div class="clearfix"></div>
                    <label>&nbsp;</label><asp:Button ID="btn_colorname" runat="server" Text="Update" class="button"
                    onclick="btn_colorname_Click" ValidationGroup="a" />
    </div>
   

