﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_screen3.ascx.cs" Inherits="wuc_screen3" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
        width: 150px;
    }
    .style3
    {
        width: 180px;
    }
    .style4
    {
        width: 181px;
    }
</style>

<div>
    <table class="style1">
        <tr>
            <td class="style2">
                First Name&nbsp;&nbsp;&nbsp;&nbsp; :</td>
            <td class="style3">
                <asp:TextBox ID="txtbox_firstname" runat="server" ReadOnly="True"></asp:TextBox>
            </td>
            <td class="style4">
                Last Name&nbsp;&nbsp;&nbsp;&nbsp; :</td>
            <td>
                <asp:TextBox ID="txtbox_lastname" runat="server" ReadOnly="True"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style2">
                <asp:Button ID="btn_addVehicle" runat="server" Text="Add/Edit vehicle" 
                    onclick="btn_addVehicle_Click" />
            </td>
            <td class="style3">
                &nbsp;</td>
            <td class="style4">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</div>
<asp:Repeater ID="rpt_site" runat="server">
</asp:Repeater>
<asp:Panel ID="Panel1" runat="server">
<fieldset>
<legend>
    Select card Delivery Method
</legend>
    <br />
    <asp:DropDownList ID="ddl_deliverymethod" runat="server" Height="18px" 
        Width="224px">
    </asp:DropDownList>
</fieldset></asp:Panel>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
<asp:Button ID="btn_prev" runat="server" Text="Previous" /> &nbsp; &nbsp; 
 <asp:Button ID="btn_next" runat="server" Text="Next" 
    onclick="btn_next_Click" />




