﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Wuc_lotaddress.ascx.cs" Inherits="WUC_Wuc_lotaddress" %>



  <asp:TextBox ID="autocomplete" placeholder="Enter Name Of City " onFocus="geolocate()" runat="server"></asp:TextBox>
<asp:Button
     ID="Search" runat="server" Text="Search" onclick="Search_Click" CssClass="button" />



  
 