﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_tariff_plan.ascx.cs" Inherits="WUC_wuc_tariff_plan" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
        width: 181px;
    }
</style>
<asp:Panel ID="Panel1" runat="server">
<fieldset>
<legend>
    Define Tariff Plan</legend>
    <br />
    <table class="style1">
        <tr>
            <td class="style2">
                Tariff Plan Name</td>
            <td>
                <asp:TextBox ID="txtbox_tariffname" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style2">
                Discount</td>
            <td>
                <asp:TextBox ID="txtxbox_discount" runat="server"></asp:TextBox>
            </td>
        </tr>
        
    </table>
Select&nbsp;&nbsp;&nbsp;&nbsp;Site Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Address
<asp:CheckBoxList ID="chk_sitename" runat="server" 
        onselectedindexchanged="CheckBoxList1_SelectedIndexChanged">
        </asp:CheckBoxList>
 <asp:Button ID="btn_Add" runat="server" Text="Add" onclick="btn_Add_Click" 
        style="height: 26px" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btn_cancel" runat="server" Text="cancel" />
</fieldset>
   
</asp:Panel>
