﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_edit_assign_tariff_to_site.ascx.cs" Inherits="WUC_wuc_edit_assign_tariff_to_site" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
        width: 130px;
    }
    .style3
    {
        width: 160px;
    }
</style>

<div>
    <table class="style1">
        <tr>
            <td class="style2">
                Site Name</td>
            <td>
                <asp:DropDownList ID="ddl_sitename" runat="server" Height="31px" Width="298px">
                </asp:DropDownList>
            </td>
        </tr>
    </table>
    <br />
    
    <panel>
    <fieldset><legend>Add Tariff</legend>
        <table class="style1">
            <tr>
                <td class="style3">
                    Tariff Name</td>
                <td>
                    <asp:DropDownList ID="ddl_tariffname" runat="server" Height="16px" 
                        Width="262px">
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="style3">
                    Available Spaces</td>
                <td>
                    <asp:TextBox ID="txtbox_available_spaces" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btn_update" runat="server" Text="Update" Width="70px" 
                        onclick="btn_update_Click" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            
        </table>
        <br />
            <br />
    </fieldset></panel>
    <br />
    <br />
</div>