﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_EditVehicle_Type.ascx.cs" Inherits="WUC_wuc_EditVehicle" %>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <table class="style1">
            <tr>
                <td class="style2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vehicle Type&nbsp; :&nbsp;</td>
                <td>
                    <asp:TextBox ID="txtbox_vehicleType" runat="server" ValidationGroup="b"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="rfv_vehicle" runat="server" 
                        ControlToValidate="txtbox_vehicleType" ErrorMessage="*" Font-Bold="True" 
                        ForeColor="#CC0000" ValidationGroup="b"></asp:RequiredFieldValidator>
                </td>
            </tr>
             <tr>
                <td class="style2">
                    </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="style2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</td>
                <td>
                    <asp:Button ID="btn_submit" runat="server" Text="Update" ValidationGroup="b" 
                        onclick="btn_submit_Click1" class="btn" />
                </td>
            </tr>
        </table>
        