﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_parkerregisscreen1.ascx.cs" Inherits="WUC_wuc_parkerregisscreen1" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
        width: 163px;
    }
    .style3
    {
        width: 163px;
        height: 45px;
    }
    .style4
    {
        height: 45px;
    }
</style>
<fieldset>
<legend>Select Site to park</legend>
<table class="style1">
    <tr>
        <td class="style3">
            Select Country</td>
        <td class="style4">
            <asp:DropDownList ID="ddl_country" runat="server" AutoPostBack="True" 
                DataSourceID="SqlDataSource1" DataTextField="Country_name" 
                DataValueField="Country_id" Height="16px" ValidationGroup="a">
            </asp:DropDownList>
            <asp:RequiredFieldValidator ID="rfv_country" runat="server" 
                ControlToValidate="ddl_country" ErrorMessage="*" ForeColor="#CC0000" 
                ValidationGroup="a"></asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td class="style2">
            Select City</td>
        <td>
            <asp:DropDownList ID="ddl_city" runat="server" 
                DataSourceID="SqlDataSource2" DataTextField="City_name" 
                DataValueField="City_id" ValidationGroup="a">
            </asp:DropDownList>
            <asp:RequiredFieldValidator ID="rfv_city" runat="server" 
                ControlToValidate="ddl_city" ErrorMessage="*" ForeColor="#CC0000" 
                ValidationGroup="a"></asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td class="style2">
            Postal Code/Zip Code</td>
        <td>
            <asp:TextBox ID="txtbox_zip" runat="server"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style2">
            &nbsp;</td>
        <td>
            <asp:Button ID="btn_search" runat="server" Text="Search" ValidationGroup="a" />
        </td>
    </tr>
</table>
</fieldset>
<asp:SqlDataSource ID="SqlDataSource2" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" 
    SelectCommand="SELECT [City_id], [City_name] FROM [tbl_City]">
</asp:SqlDataSource>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_IPASSConnectionString %>" 
    SelectCommand="SELECT [Country_id], [Country_name] FROM [tbl_country]">
</asp:SqlDataSource>
<asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>
<asp:Panel ID="Panel1" runat="server" Height="316px">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:Repeater ID="Repeater1" runat="server">
            </asp:Repeater>

        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Panel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Button 
    ID="btn_next" runat="server" Text="Next" onclick="btn_next_Click" />







