﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="wuc_TariifSiteplandetail.ascx.cs" Inherits="WUC_wuc_TariifSiteplandetail" %>
<asp:Panel ID="Panel1" runat="server" Height="316px">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:Repeater ID="rptsite" runat="server">


            <HeaderTemplate>
            <table width="100%" class="rounded-corner">
                <tr>
                      <th>
                       Tariff Name
                    </th>
                     <th>
                      Site Name
                    </th>
                    
                    <%--<th>
                        Site Detail
                    </th> 
                    <th>
                        Tariff Detail
                    </th>--%>
                     
                </tr>
        </HeaderTemplate>
        <ItemTemplate>
            <tr>
            
            <td>
                <asp:Label ID="Label1" runat="server" Text='<%#Eval("TariffPlanNametoSite")%>' Visible="False"></asp:Label>     <%#Eval("TariffPlanNametoSite")%>
                    </td>
                    
                    <td>
                      <%--  <asp:TextBox ID="txtbox_rateforvehicle" runat="server" Text='<%#Eval("Address1")%>'></asp:TextBox>--%><%#Eval("SiteName")%>
                </td>
                
                
                <td>
                
               <%-- <asp:LinkButton ID="lnkEdit" CommandName="cmdSiteDetails" CommandArgument='<%#Eval("SiteId") %>' runat="server"><img src="images/edit.png" />
                    </asp:LinkButton>
                </td>
                <td>
                 <asp:LinkButton ID="lnkDelete" CommandName="cmdDelete" CommandArgument='<%#Eval("SiteId") %>' runat="server" OnClientClick="return confirmation();"><img src="images/trash.png" />
                    </asp:LinkButton>--%>

                </td>
            </tr>
        </ItemTemplate>
        <FooterTemplate>
            </table>
        </FooterTemplate>



            </asp:Repeater>

        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Panel>